[2019-04-09 07:22] abompard commented on #1198
Hey! Sorry for the delay, I was swamped with other things.

Yeah there are several things that are wrong in the twisted example:
- It shouldn't be necessary to add a callback on `ready` to call `onConnected` on the protocol, since the protocol already has a `connectionReady` method that can be defined in the subclass for the same effect. As a result, you don't really need the connection to be pass

[2019-04-09 13:13] alice17 commented on #1122
Why put this code in the examples if it does not work?

[2019-04-09 14:15] #1198 closed

[2019-04-09 18:21] jeremycline opened #1201 "twisted: basic_consume hangs indefinitely when errors occur"
If an error happens during a call to basic_consume (permission denied, queue doesn't exist, etc), the deferred returned by the Twisted adapter's basic_consume never has its errback or callback called, so anything awaiting results will get stuck forever.

A simple reproducer you can run with "twistd -n -y <file.py>", assuming you have a broker running on localhost:5672 and the "does_not_exist" queu

[2019-04-09 18:22] lukebakken commented on #1201
It would be great if you could submit a PR for that. Thank you.

[2019-04-09 18:25] lukebakken commented on #1201
Thanks for the PR!

[2019-04-09 18:25] jeremycline commented on #1201
Haha, that was an incredibly fast response. No problem!

[2019-04-09 20:19] lukebakken commented on #1198
@jeremycline that would be great. I also just edited the online docs to point to the `twisted_service.py` file itself (commit c0029f883bfbafd66ea8e5ef943a0ed349f469fc). But, if another example can be added that would be great.

[2019-04-09 21:48] #1201 closed

[2019-04-09 21:48] lukebakken commented on #1196
Done as of Pika `1.0.0`

[2019-04-09 21:48] #1196 closed

[2019-04-09 22:03] lukebakken commented on #1005
Looks like we missed the boat to ensure that channel is always passed, but I'll make sure the docstrings are accurate.

[2019-04-09 22:47] vitaly-krugl commented on #1005
Thanks for the update Luke.

Best,
Vitaly

On Tue, Apr 9, 2019 at 3:03 PM Luke Bakken <notifications@github.com> wrote:

[2019-04-11 17:11] #1005 closed

[2019-04-14 09:19] MartinYue commented on #226
thanks

[2019-04-17 10:50] olii opened #1204 "Bad exception type raised when incorrect login"
#### Report
In `pika==0.13.1` when login credentials are wrong, the exception `pika.exceptions.ProbableAuthenticationError` is raised.
In the current version `1.0.1` the type of exception is `pika.exceptions.ConnectionClosedByBroker`. Is this by design or a regression? I assume that a former exception should be raised.

#### Minimal example:
[code]

#### Pika `0.13.1` output
[code]

#### Pika `1.0

[2019-04-18 15:19] tsachi-guardicore opened #1205 "InvalidFieldTypeException when receiving messages with int values in headers dict"
Pika throws an InvalidFieldTypeException on messages produced by haigha Python package with int values in the headers dictionary.

Notes:
RabbitMQ can handle the message generated by _haigha_ (See attached screenshot)
Pika can process similar messages that are published by pika

An example for a failing application_headers:
[code]

Stack trace:
[code]

Attachments:
haigha_publisher.py : Publish me

[2019-04-18 15:20] tsachi-guardicore commented on #1205
[examples.zip](https://github.com/pika/pika/files/3095059/examples.zip)
![pika + haigha messages](https://user-images.githubusercontent.com/47942606/56371873-9a537f80-6206-11e9-8053-d42bc165b35d.PNG)

[2019-04-24 20:52] potbunker opened #1206 "BlockingChannel.basic_publish does not return value."
[Documentation](https://pika.readthedocs.io/en/latest/examples/blocking_publish_mandatory.html) states that `basic_publish` with `mandatory` set to `True` returns a value for `bool` check. But it is always `None`

[code]

[2019-04-24 20:58] potbunker commented on #1206
Pika version 0.12 behaves correctly, but not 1.0.0 and above

[2019-04-24 20:58] #1206 closed

[2019-04-24 21:25] lukebakken commented on #1206
Yes, `1.0.0` behaves correctly. If you need me to explain why, please ask.

[2019-04-24 21:40] lukebakken commented on #1206
@potbunker please see https://github.com/pika/pika/commit/61c3fb6ad3961bb3498ad32c70f89e097c0539f2

[2019-04-25 00:18] potbunker commented on #1206
Thanks for the reply. I was comparing with the documemt, which is
consistent with 0.12.

On Wed, Apr 24, 2019, 5:40 PM Luke Bakken <notifications@github.com> wrote:

[2019-04-25 00:25] potbunker commented on #1206
Looks like the document (example code) was updated as well. For some
reason, the document site was still showing the original version.

On Wed, Apr 24, 2019, 5:40 PM Luke Bakken <notifications@github.com> wrote:

[2019-04-25 13:49] lukebakken commented on #1206
Yes, because I only changed it yesterday. Thanks for pointing out the old documentation.

[2019-05-01 13:23] kjnilsson opened #1208 "Consider not cancelling consumers on channel closure"
There is no value in first cancelling all consumers then immediately closing the channel as the consumers will be correctly cleaned up when the channel is closed by RabbitMQ. Consider removing the code around this line: https://github.com/pika/pika/blob/master/pika/channel.py#L544

In RabbitMQ 3.8 we will ship a feature that may require that basic.cancel is _not_ sent before closing the channel fo

[2019-05-06 10:34] Avivsalem opened #1211 "Pika doesn't work on python <2.7.9"
Pika 1.0.0 uses ssl.SSLContext which exists only in python 2.7.9 and higher...

You should reflect that in the documentation and version modifiers...
Thanks!

[2019-05-13 02:50] a523 commented on #1206
ya, I have the same problem.  but I have another related question .
I see this in the rabbitmq's doc:

I wan to what  kind this  way  is transactional or confirmation mechanism ? if this way is in confirm mode.
I see this in the rabbitmq's doc again:

My question is Where are the client count messages in this code, if this way is in confirm mode?
Thanks

[2019-05-13 03:02] a523 opened #1212 "How do I write a Publisher Confirms by using confirm mode or transactions ？"
@potbunker please see https://github.com/pika/pika/commit/61c3fb6ad3961bb3498ad32c70f89e097c0539f2

_Originally posted by @lukebakken in https://github.com/pika/pika/issues/1206#issuecomment-486437756_

Ya, I have the same problem. but I have another related question .
I see this in the[ rabbitmq's doc](https://www.rabbitmq.com/confirms.html):

I wonder what kind this way is transactional or confi

[2019-05-13 16:55] lukebakken commented on #1212
Hello

Please ask questions on either the [`rabbitmq-users`](https://groups.google.com/forum/#!forum/rabbitmq-users) or [`pika-python`](https://groups.google.com/forum/#!forum/pika-python) mailing list.

The fastest way to get help is to provide running code that demonstrates the issue you're trying to solve.

There is example code that uses publisher confirms here:

https://github.com/pika/pika/b

[2019-05-13 16:55] #1212 closed

[2019-05-13 16:58] lukebakken commented on #1211
Considering Python `2.7.9` was released over 4 years ago, and is no longer supported, I wouldn't expect anyone to use it in production.

I would be happy to accept a PR with documentation or other changes to make this clearer.

[2019-05-13 16:58] #1211 closed

[2019-05-27 13:08] semeal2 opened #1215 "Assert Exception from _AsyncPlaintextTransport::_on_socket_writable"
Hi,

Environment: Ubuntu16 x86_64/ qemu-kvm, python 2.7.12, pika 1.0.1.
One thread is running ioloop, from another (single) thread messages are published
using async producer.
When single CPU core allocated there is NO problems. It works.
With 2+ CPU cores allocated I often got Assert Exception from:
[code]

With this fix (applied before above snippet):

[code]

It works just fine on multi cores a

[2019-05-28 12:23] lukebakken commented on #1215
Hello, can you provide your async producer code?

[2019-05-28 18:34] lukebakken commented on #1215
Most likely there is an error with your code. Without a way to reproduce this there's little I can do. If you can provide a way to reproduce this issue, I will re-open this GitHub issue.

[2019-05-28 18:34] #1215 closed

[2019-05-28 19:09] lukebakken opened #1217 "Fix blocking delivery confirmations example in docs"
The example code uses a return value instead of catching exceptions:

https://pika.readthedocs.io/en/latest/examples/blocking_delivery_confirmations.html

https://github.com/pika/pika/blob/master/pika/adapters/blocking_connection.py#L2170-L2201

[2019-05-28 20:43] lukebakken commented on #1205
See this issue: https://github.com/rabbitmq/rabbitmq-common/issues/261

Then, this: https://www.rabbitmq.com/amqp-0-9-1-errata.html

Finally, the Java implementation of the `s` field type:

https://github.com/rabbitmq/rabbitmq-java-client/blob/master/src/main/java/com/rabbitmq/client/impl/ValueReader.java#L193-L195

So, it looks like Pika is adhering to the 0.9.1 spec, while haigha, RabbitMQ and t

[2019-05-29 09:39] semeal2 opened #1218 "Assert Exception from _AsyncPlaintextTransport::_on_socket_writable"
Hi,

Environment: Ubuntu16 x86_64/ qemu-kvm, python 2.7.12, pika 1.0.1.
One thread is running ioloop, from another (single) thread messages are published
using async producer.
When single CPU core allocated there is NO problems. It works.
With 2+ CPU cores allocated I often got Assert Exception from:

  _AsyncPlaintextTransport::_on_socket_writable(self)
...
# We shouldn't be getting called with e

[2019-05-29 09:45] #1218 closed

[2019-05-29 09:48] semeal2 commented on #1218
Code to reproduce:

[code]

[2019-05-29 09:51] semeal2 opened #1219 "Assert Exception from _AsyncPlaintextTransport::_on_socket_writable"
Hi,

Environment: Ubuntu16 x86_64/ qemu-kvm, python 2.7.12, pika 1.0.1.
One thread is running ioloop, from another (single) thread messages are published
using async producer.
When single CPU core allocated there is NO problems. It works.
With 2+ CPU cores allocated I often got Assert Exception from:

_AsyncPlaintextTransport::_on_socket_writable(self)
...
We shouldn't be getting called with empty

[2019-05-29 09:53] semeal2 commented on #1219
Results with:
[code]
10 times OK, but sometimes:
[code]

[2019-05-29 09:53] semeal2 commented on #1219
When test is OK consumer gets ALL the messages.

[2019-05-29 09:55] semeal2 commented on #1219
With above fix all works OK.
Also as I mentioned, it works OK with single CPU core allocated.

[2019-05-29 09:57] semeal2 commented on #1219
Bug? Feature? Misuse?

[2019-05-29 15:44] lukebakken commented on #1219
Pika is not thread-safe. You are publishing messages from a different thread than the one running Pika's I/O loop. The `publish_message` method must use the `add_callback_threadsafe` method on the connection to schedule a function (that would publish a message) to execute on the correct thread.

[2019-05-29 15:44] #1219 closed

[2019-05-29 21:11] gmr commented on #1205
I'd support it and do in [gmr/pamqp.](https://github.com/gmr/pamqp) FWIW I did intend on moving spec and the frame marshalling/unmarshalling bits in pika to use pamqp but hadn't had the bandwidth to do so. Perhaps it's worth considering or just stealing bits?

[2019-06-07 14:09] sid22 opened #1221 "InvalidChannelNumber exception in channels wrongly raised."
My system:
Ubuntu 18.04
Python 2.7
Pika Version: 1.0.1
RabbitMQ 3.7.15
Erlang 22.0.2

I had tried to connect to RabbitMQ using a SelectConnection.

[code]
This game me
[code]

Looking in the exceptions.py file in the package
Line 271, is in exception class InvalidChannelNumber which takes AMQPError class.
So, I tried calling the exception manually:
[code]
This works, so checking in the package I f

[2019-06-08 10:20] shardool-freightwalla opened #1222 "'BlockingConnection' object has no attribute 'add_callback_threadsafe'"
- Currently, I am using BlockingConnection adapter for consuming requests and replying to those messages post-processing.
- Since the time taken to process every request takes time, it is causing a bottleneck in serving the requests.
- So I wanted to process multiple requests simultaneously and hence researched about the threaded implementation of blocking connection

When I try to run the consume

[2019-06-09 01:44] lukebakken commented on #1222
Well, since you're using Pika 1.0.1 you should be using this example:

https://github.com/pika/pika/blob/1.0.1/examples/basic_consumer_threaded.py

You can see that `add_callback_threadsafe` is implemented here:

https://github.com/pika/pika/blob/1.0.1/pika/adapters/blocking_connection.py#L707-L749

If you continue to have issues, please follow up on the [`pika-python` mailing list](https://groups

[2019-06-09 01:44] #1222 closed

[2019-06-10 21:50] sulsj opened #1224 "StreamLostError after upgrading from 0.13.1 to 1.0.1"
Hi,
As the title, after upgrading the pika version from 0.13.1 to 1.0.1, our production code prints out the below log. Any clue will be appreciated.

Thanks,
Seung

Traceback (most recent call last):
  File "/.../venv/bin/jgi-task-manager", line 283, in recv_hb_from_workers_thread
    methodFrame, headerFrame, body = ch.basic_get(queue=hbQueueName, auto_ack=True)
  File "/.../venv/lib/python2.7/si

[2019-06-10 22:08] lukebakken commented on #1224
[code]

Something killed the TCP connection. What is logged by your AMQP broker  (assuming it is RabbitMQ) at the same time?

[2019-06-10 22:18] sulsj commented on #1224
The broker is running by our compute center so I am not sure how I can see the log. Is there any way I can retrieve the log via the management tools?
Thanks!

[2019-06-10 22:20] lukebakken commented on #1224
You have to have access to the server to retrieve the log.

If I had to guess, your code is blocking Pika's I/O loop, a heartbeat timeout is happening, and RabbitMQ is closing the connection abruptly. Or, a network device like a load balancer is causing the issue.

If you can share your code, please attach it in a response. Otherwise, there is not much more assistance I can give.

[2019-06-10 22:25] sulsj commented on #1224
Hmm. I need to comment out "heartbeat_interval" in the connection param to use v1.0.1. When I use v0.13.1, I set "heartbeat_interval=0".

    __connection = None
    def __init__(self, hb): # return a pika connection
        atexit.register(rmqClose, rmqConnObj=self)
        if not self.__connection:
            creds = pika.PlainCredentials(RMQ_USER, RMQ_PASS)
            params = pika.Connection

[2019-06-10 22:28] lukebakken commented on #1224
That means with version `0.13.1` you disabled heartbeats (not recommended). When you upgraded to version `1.0.1`, you re-enabled them and now RabbitMQ thinks your connection is dead either because there isn't enough activity on it or because your code is blocking the I/O loop in Pika.

To fix this you can either [re-disable heartbeats](https://github.com/pika/pika/blob/1.0.1/pika/connection.py#L55

[2019-06-10 22:28] #1224 closed

[2019-06-10 22:37] sulsj commented on #1224
Sure. This is receiving thread code.

`
# ----------------------------------------------------------------------------------------
def recv_hb_from_workers_thread(hbQueueName, parentPid, hbeatProc, logDestDir, resourceReport):
# ----------------------------------------------------------------------------------------
    """
    Receive hearbeats from all the workers running
    :param hbQueueName:

[2019-06-10 22:43] lukebakken commented on #1224
First thing, `basic.get` is not a recommended way to get messages from RabbitMQ, but we can work with it here.

There are several places that could block Pika. If your work takes too long to do (JSON parsing, db transactions), that could do it. The `time.sleep(interval)` call could do it as well.

As a first fix, replace `time.sleep(interval)` with `conn.process_data_events(time_limit=interval)` a

[2019-06-10 22:44] sulsj commented on #1224
And there are hundres of workers send msg to this thread by

[code]

[2019-06-10 22:52] sulsj commented on #1224
OK. I will try and keep you updated. Thanks for the help. :)

[2019-06-11 01:53] wujsy commented on #1144
@yutiansut @lukebakken Hi, how to resolve this problem?please show the details

[2019-06-11 13:41] lukebakken commented on #1144
@wujsy - we could not reproduce this reliably. If you have code that demonstrates this issue, please share it.

[2019-06-11 14:12] lukebakken commented on #1221
Hello, this will be fixed by #1216

[2019-06-11 14:12] #1221 closed

[2019-06-11 17:37] sulsj commented on #1224
Can I ask questions which seems like related?

I am running many workers and each worker gets a task and executes it.
This is the part waiting for a request in a worker.

`
    ch.basic_qos(prefetch_count=1)
    if int(PIKA_VER[0]) < 1:  # v0.13.1
        ch.basic_consume(on_request, queue=innerTaskReqQ, no_ack=False)
    else:  # v1.0.1
        ch.basic_consume(queue=innerTaskReqQ, on_message_cal

[2019-06-11 17:46] lukebakken commented on #1224
Please see [this code](https://github.com/pika/pika/blob/1.0.1/examples/basic_consumer_threaded.py) for how to run your task in a different thread and acknowledge the message correctly. Please note that you can't call any of Pika's instance methods from threads other than the I/O loop thread. The code sample shows the correct way to do so.

If you have further questions, move this discussion to [t

[2019-06-11 17:47] sulsj commented on #1224
I have a few more time.sleep() in my codes. Do you recommend to replace those with conn.process_data_events(time_limit=interval)?

[2019-06-11 17:48] lukebakken commented on #1224
Please see [this comment](https://github.com/pika/pika/issues/1224#issuecomment-500951004). Further questions should be on the mailing list because other Pika users can learn from them.

[2019-06-12 14:39] thefab opened #1226 "can't install pika with "--no-binary :all:" and "LANG=C""
Hi,

A little bug report. When we try to install pika without wheels, for example with

[code]

it works if `LANG=fr_FR.UTF-8`

But, on a blank virtualenv, if I do

[code]

it fails with:

[code]

[2019-06-12 14:41] lukebakken commented on #1226
It looks like there is either an invalid character in `README.rst` and / or `setup.py` needs to be modified to take `--no-binary` into account. If you have time to submit a fix via a pull request, I would really appreciate it.

[2019-06-12 14:44] thefab commented on #1226
probably fixed in master by https://github.com/pika/pika/commit/e95001e480ec30f1617c47e77fb92e0384ff9e78

[2019-06-12 14:46] lukebakken commented on #1226
Thanks, fixed by #1207

If you have a second to build the package from `master` and test using `pip` in your environment, that would be great. Thanks.

[2019-06-12 14:46] #1226 closed

[2019-06-12 14:49] thefab commented on #1226
just done, it works with master

thank you!

[2019-06-12 15:02] lukebakken commented on #1226
Great and thank you for verifying

[2019-06-13 06:24] wujsy commented on #1144
@lukebakken I found the reason, because I created the connection repeatly, sorry for that.

[2019-06-13 20:20] lfmunoz commented on #1221
Code on the website doesn't work because of this issue:
https://pika.readthedocs.io/en/1.0.1/intro.html#io-and-event-looping

What's the actual fix to get the website example working?

[2019-06-13 20:29] lukebakken commented on #1221
@lfmunoz - this has been fixed and will be in the next release, please see these docs -

https://pika.readthedocs.io/en/latest/intro.html

[2019-06-20 11:20] TheElderMindseeker opened #1227 "Fix Continuation-Passing style code example"
When trying to reproduce example from Continuation-Passing Style section in Introduction to Pika, the code throws a very uncomprehensive exception:

[code]

I suppose the problem is in the statement `connection.channel(on_channel_open)` in the example. The first argument of `connection.channel(...)` must be a channel number or None, if one wishes to allow Pika manage channel numbers itself. In ord

[2019-06-24 16:36] lukebakken commented on #1227
Fixed by #1216

[2019-06-24 16:36] #1227 closed

[2019-06-24 16:36] lukebakken commented on #1227
Please use this documentation until 1.1.0 is released:

https://pika.readthedocs.io/en/latest/intro.html

[2019-07-15 16:20] liewhite opened #1232 "twisted channel _on_puback_message_returned has wrong number of args"
_on_puback_message_returned in twisted channel has only 1 parameter, bug it's called with 4, is it a bug?

[2019-07-15 17:07] lukebakken commented on #1232
Hello and thanks for using Pika.

In the future, please use the [`pika-python`](https://groups.google.com/forum/#!forum/pika-python) mailing list for discussions. I

This does appear to be a bug as `self._channel` is an instance of `pika.Channel`. If you have a fix (with tests!), please open a pull request. Thanks.

[2019-07-15 23:22] lukebakken commented on #1232
@liewhite how did you discover this issue?

[2019-07-16 01:39] liewhite commented on #1232
@lukebakken  When confirm select, It just raise parameter error when no route, then traceback here

[2019-07-16 16:49] #1232 closed

[2019-07-16 17:01] #1204 closed

[2019-07-16 17:01] #1205 closed

[2019-07-16 17:49] lukebakken commented on #1217
Fixed by a3972b9b8fd8849dfb69a40548d23f18f4368abb

[2019-07-16 17:49] #1217 closed

[2019-07-19 02:52] splusz commented on #1144
@yutiansut @lukebakken Is this issue solved? In my case, the exception occured when the pika connection was shared across threads, which should have be avoided.

[2019-07-19 14:08] lukebakken commented on #1144
@splusz I could never reproduce it.

[2019-07-22 06:33] jadhavshital opened #1234 "Publisher waits for consuming messages while it should do both things(publishing and subscribing replies from subscriber).)"
Publisher is getting blocked after after consuming 1st message_reply. It is not sending any messages to subscriber.

I have already tried that if I don't use 'start_consuming()' method publisher sends data continuously but it does not print reply_message from subscriber. If I used 'start_consuming()' method it just blocks the publisher and waits.

[code]

[code]

[code]

I want to design this-
[co

[2019-07-22 19:37] ybaruchel commented on #511
Any plans on supporting cross-thread channel/connection?

[2019-07-26 00:24] sokolovs opened #1235 "The query string parameter 'ssl' for URLParameters raises the exception"
The query string parameter 'ssl' for URLParameters raises the exception 'Unknown URL parameter: ssl'. This is a bug, because URLParameters does not contain the _set_url_ssl method :(

[2019-07-26 02:50] wanguanfu commented on #770
I throw no clear way to solve （pika-stop-consuming-does-not-work）

[2019-07-26 02:52] wanguanfu commented on #770
like this？？？

       In the example above, replacing the line
                 channel.start_consuming()
   with
                 while channel._consumer_infos:
                           channel.connection.process_data_events(time_limit=1)

[2019-07-29 16:08] lukebakken commented on #770
@wanguanfu - please provide code that reproduces your issue and attach it as a new message to the [`pika-python`](https://groups.google.com/forum/#!forum/pika-python) mailing list.

[2019-07-29 16:15] lukebakken commented on #1235
Hello and thanks for using Pika.

The correct parameter is called `ssl_options` and is documented [here](https://github.com/pika/pika/blob/1.1.0/pika/connection.py#L688-L692).

[2019-07-29 16:15] #1235 closed

[2019-07-29 16:18] lukebakken commented on #1234
`channel.start_consuming()` blocks forever.

If you wish to publish and consume messages in the same program, you should base your code on the asynchronous examples here:

https://github.com/pika/pika/tree/1.1.0/examples

[2019-07-29 16:18] #1234 closed

[2019-07-29 17:05] lukebakken commented on #511
@ybaruchel no, not at this time. Pika is open-source so a motivated individual could contribute this feature, or build a library _on top_ of Pika that implements thread safety and other features.

[2019-08-01 01:59] wanguanfu opened #1236 "transactional message mechanism"
Pika does not support rabbitmq's transactional message mechanism, or is there any guarantee other than the reply mechanism?

[2019-08-01 14:31] lukebakken commented on #1236
Hello and thanks for using Pika.

You should be using publisher confirmations. Please see the RabbitMQ documentation here: [link](https://www.rabbitmq.com/confirms.html).

If you have further questions, please do *not* use GitHub issues, but one of these mailing lists:

https://groups.google.com/forum/?pli=1#!forum/pika-python
https://groups.google.com/forum/?pli=1#!forum/rabbitmq-users

[2019-08-01 14:31] #1236 closed

[2019-08-07 06:47] acodercat opened #1237 "threading BlockingConnection"
[code]
pika.exceptions.StreamLostError: Stream connection lost: IndexError('pop from an empty deque')

[2019-08-07 14:28] lukebakken commented on #1237
Pika is not thread safe. Use a `BlockingConnection` per-thread.

[2019-08-07 14:28] #1237 closed

[2019-08-13 16:06] daudn commented on #930
Is it possible to implement a similar heartbeat threading while using channel.basic_get? I need my consumer to consume only 'one' task and then acknowledge before quitting.

[2019-08-13 19:54] lukebakken commented on #930
@daudn please post your question to [`pika-python`](https://groups.google.com/forum/?pli=1#!forum/pika-python) and include code that can be reviewed. Thank you for using Pika.

[2019-08-13 22:04] bulka3 commented on #1144
Hey. I know how to reproduce it ..but by my way.

`
def kidok():
    while True:
        channel.queue_declare(queue='TG.send.msg.rq')
        data = sql.get_users_list()
        print(data)
        time.sleep(30)

thread1 = threading.Thread(target=kidok)
thread1.start()
q1 = channel.queue_declare(queue='VK.add.new.user.rq')
`

and I **solved it** when I created a new channel and connection:
`def

[2019-08-22 01:37] AlexPham1988 commented on #1211
Hi.

I faced the same issue. The point is many companies has developed their internal production environment long time ago, and stabilized with old Python version (< 2.7.9). Moving to new version would cost a huge effort without visible benefit. Could you please consider the support for at least 2.7.2 ?

Thanks
Alex

[2019-08-22 03:35] auvipy commented on #1197
librabbitmq is not recommended for production. we have a plan for improving py-amqp further as it is more feature-rich and less buggy.

[2019-08-22 07:28] Gsantomaggio commented on #1197
Yes but I am more interested to understand the performance different

[2019-08-22 15:27] lukebakken commented on #1211
@AlexPham1988 this project is maintained by volunteers who do so in their free time. We don't have the time or resources to support out-of-date Python versions.

Also, please note that Python 2 will be unsupported as of January, 2020 - https://endoflife.date/python

[2019-08-26 23:58] sulsj opened #1239 "Best way to send a message in a thread"
Hi,
I am trying to use the basic_consumer_threaded.py (https://github.com/pika/pika/blob/master/examples/basic_consumer_threaded.py) in my project. I tried to send a message to another exchange in "do_work()" after "time.sleep(10)" but found "Stream connection lost" exception. The other exchange and the queue have already been declared on the channel, "ch".

What is the correct way to do that?

Th

[2019-08-27 19:17] #1239 closed, assigned to lukebakken

[2019-08-28 11:18] SantjagoCorkez opened #1240 "pika throws ChannelWrongStateError('Channel is closed.') on publish"
pika version: 1.1.0

As a result of interface link flapping a socket underneath pika's connection to RabbitMQ became dead. Since this state transition has not been properly processed by client code any subsequent `publish()` to pika's `Channel` then caused this:
[code]

As a result:
a code like
[code]
would fail.

This behaviour was implemented at https://github.com/pika/pika/commit/761ef5cf8e484f

[2019-08-29 18:37] luiscoms commented on #1021
is it possible to get queue size without declare it?

[2019-08-29 19:56] lukebakken commented on #1021
@luiscoms - please ask on the [`pika-python`](https://groups.google.com/forum/?pli=1#!forum/pika-python) or [`rabbitmq-users`](https://groups.google.com/forum/#!forum/rabbitmq-users) mailing list so others can learn from the answer. Thanks for using Pika.

[2019-09-02 13:09] hyahm opened #1243 "pika.exceptions.StreamLostError: Stream connection"
pika version:  1.1.0
python :  3.7.4
rabbitmq:  3.7.15

error msg
[code]

my code
[code]
other issue

All messages are consumed instantaneously

start.py
[code]

Thank you!

[2019-09-03 15:43] lukebakken commented on #1243
Thanks for using Pika. Please use the [`pika-python`](https://groups.google.com/forum/?pli=1#!forum/pika-python) mailing list for questions like this.

This is the relevant error:

[code]

What is logged by your AMQP broker at this time? Please follow-up on the mailing list.

[2019-09-03 15:43] #1243 closed

[2019-09-10 22:27] jxramos opened #1244 "Define ExchangeType enum"
It would be useful to have a dedicated enum which spells out all the fixed values available for python consumption much like you find in the .net RabbitMQ client

https://github.com/rabbitmq/rabbitmq-dotnet-client/blob/master/projects/client/RabbitMQ.Client/src/client/api/ExchangeType.cs

This source will likely be something like...

[code]

This will give folks the option to use enum references i

[2019-09-10 23:06] lukebakken commented on #1244
Hello and thanks for using Pika.

I would be happy to review a pull request implementing this. Thanks.

[2019-09-20 20:57] jxramos commented on #1244
I'll take it on this weekend. It would help me too to identify any other candidates for enums used throughout RabbitMQ. Enums are great for discovering siblings of a finite set of options straight for the sourcecode.

[2019-10-11 05:47] Anaghamhetre16 opened #1247 "pika throws error 'IncompatibleProtocolError: The protocol returned by the server is not supported: ("StreamLostError: ('Transport indicated EOF',)",)"
I am trying to connect with AMQP broker using pika library but it throws exception "IncompatibleProtocolError: The protocol returned by the server is not supported: ("StreamLostError: ('Transport indicated EOF',)",)" .

I shared my code

import pika
import ssl

credentials = pika.PlainCredentials(username,password)
parameters = pika.ConnectionParameters(host,5671,virtualhost,credentials)
try:
	con

[2019-10-11 13:46] lukebakken commented on #1247
You are connecting to port `5671`, which is usually the TLS/SSL port for RabbitMQ. However, you have not configured Pika to use TLS/SSL. Pika won't do that automatically for you. Please see [the docs](https://github.com/pika/pika/blob/master/docs/examples/tls_server_authentication.rst), or [here](https://pika.readthedocs.io/en/stable/examples/tls_mutual_authentication.html)

[2019-10-11 13:46] #1247 closed

[2019-10-17 10:47] eiscan opened #1248 "The RabbitMQ publisher has been disconnected."
Hi, I'm making a message in python using pika. I have a consumer. When the consumer is listening, does the consumer inform me when the broadcaster is disconnected?

[2019-10-17 16:00] donho commented on #804
Hi @szepeviktor I have the same need. Did you get the answer? Could you post the solution here please?

[2019-10-17 16:01] lukebakken commented on #804
https://www.rabbitmq.com/monitoring.html

[2019-10-17 18:34] lukebakken commented on #1248
Hello, and thanks for using Pika.

This is the text you see and _should have read_ when you clicked "New Issue". Please carefully read it and follow the instructions:

----

Thank you for using Pika.

- IMPORTANT -----------------------------------------------------------
STOP NOW AND READ THIS BEFORE OPENING A NEW ISSUE ON GITHUB
-------------------------------------------------------------------

[2019-10-17 18:34] #1248 closed

[2019-11-08 13:50] grupoz opened #1250 "AttributeError: module 'pika' has no attribute 'BlockingConnection'"
[code]

[code]
[code]
[code]

[2019-11-09 16:29] lukebakken commented on #1250
Either you have not installed the Pika library, or you should name your file something other than `pika.py`. Thanks for using Pika!

[2019-11-09 16:29] #1250 closed

[2019-11-27 14:19] sathishbabu96 commented on #528
@lukebakken I tried the way you mentioned here

I am getting the following error:

`AttributeError: 'AMQPConnectionWorkflow' object has no attribute 'connect'`

[2019-11-27 14:37] lukebakken commented on #528
@sathishbabu96 please don't reply to a closed issue. Post your question, as well as the code you are using, to the [`pika-python`](https://groups.google.com/forum/?pli=1#!forum/pika-python) mailing list. A single `AttributeError` only tells me that you have done something wrong in your code but I really don't have time to guess what that might be. Thank you.

[2019-11-27 14:39] sathishbabu96 commented on #528
@lukebakken Thanks for the quick reply. I will post my query to the mailing list.

[2019-12-06 16:05] ifedorov opened #1253 "backslash in message"
python 3.5
pika==1.1.0
message in rmq
`"a[href=\"http://google.com\"]"`

into on_message_callback  it come back without backslash
[code]

[2019-12-06 16:07] lukebakken commented on #1253
Pika treats message bodies as bytes. I suspect that you don't understand how backslashes are interpreted by `repr` or `print`.

If you think this is a real bug in Pika, provide code to reproduce it.

[2019-12-06 16:07] #1253 closed

[2019-12-11 08:55] Karmenzind opened #1255 "error in tornado consurmer example"
https://pika.readthedocs.io/en/stable/examples/tornado_consumer.html

Running this example throwed TypeError (`exchange must be a str or unicode str`). And this is caused by the sequence of positional arguments.

[code]

And this is the source of method `Channel.exchange_declare` in `channel.py`
[code]

Passing keyword arguments could simply fix this error.

[code]

[2019-12-11 09:03] Karmenzind commented on #1255
hmmm......

There are still some errors about positional arguments besides `exchange_declare`.
I will paste a fixed version here later.

[2019-12-11 09:09] Karmenzind commented on #1255
Here it is.

[code]

[2019-12-11 10:26] ichippa96 commented on #997
I know this issue has been closed, but I' am getting the same error. I'm using a multiprocessing pool to call a process asynchronously and use basic_publish to push to a single queue from all the async processes.

[2019-12-11 10:33] vahidmohsseni commented on #997
Try to use independent connections and channels for each thread or process. Your connection and variables **could not be shared** among processes and threads even if you use mutexes.
Just remember that pika is not thread-safe!

[2019-12-11 10:36] ichippa96 commented on #997
So I should be creating connections and channels inside the async process calls themselves?

[2019-12-11 10:39] vahidmohsseni commented on #997
Yes Absolutely.

[2019-12-11 10:40] ichippa96 commented on #997
Thanks a lot :)

[2019-12-11 16:50] lukebakken commented on #1255
@Karmenzind thank you for fixing that. Could you please open a pull request with these changes?

[2019-12-12 03:54] Karmenzind commented on #1255
Sure. I'll do it later.

[2019-12-12 09:14] everping opened #1256 "ConnectionResetError when implementing an asynchronous consumer"
I'm using pika 1.1.0 with Python 3.6 and trying to implement an asynchronous consumer according to this [example](https://github.com/pika/pika/blob/master/examples/asynchronous_consumer_example.py)

During the test, I got the following exception frequently. Although the program reconnected after that, I would like to know the main reason causing this issue and how can I handle it properly.
[code]

[2019-12-12 15:03] lukebakken commented on #1256
Thanks for using Pika.

This question belongs on the [mailing list](https://groups.google.com/forum/#!forum/pika-python). When you ask there, please also provide the AMQP broker you are using (RabbitMQ?) as well as version. If you have code that reproduces the issue, provide code that can be run.

[2019-12-12 15:03] #1256 closed

[2019-12-12 20:57] michaelklishin commented on #1197
The only fair comparison here is with `py-amqp`. A couple of profiler sessions will yield relevant data. I don't know what other recommendation there can be.

[2019-12-13 09:10] Gsantomaggio commented on #1197
We can close the issue if you want @michaelklishin @lukebakken
It is not important anymore ( at least for me :) )

[2019-12-15 20:28] deveshks commented on #1244
Was this PR ever created and merged? If not, I will be happy to submit a PR for the same. I have used pika to a good extent in the past and would love to contribute.

[2019-12-16 15:43] lukebakken commented on #1244
This issue is still open, so no work has been done on it.

[2019-12-16 18:25] deveshks commented on #1244
Thanks @lukebakken for the response. Can I make a PR for this? Apart from the instruction in the README https://github.com/pika/pika#contributing , are there any other guidelines while making a PR?

[2019-12-16 18:27] lukebakken commented on #1244
Those guidelines are correct. There's no need to ask to open a PR, just do it 😄

[2019-12-16 19:13] deveshks commented on #1244
What would be a good place to define the Enum? In `channel.py`, or I can create a new module `exchange_type.py` ? `spec.py` looked to be a good place until I saw that it was auto generated.

Also I think in order to use the enum, the best way to go about it is what @jxramos  mentioned, which makes sure that the existing client code using pika library doesn't break.

[code]
 If we do something else

[2019-12-16 19:25] lukebakken commented on #1244
* Do whatever you think is most convenient for users of this library.
* Don't break backwards compatibility.
* Include tests.

Discussion can continue within the PR itself.

[2019-12-24 00:41] arseni-mourzenko opened #1257 "The `blocked_connection_timeout` is not always applied"
It seems there is a regression in pika 1.* (the test was done using pika 1.1.0).

Previously (in versions 0.*), when `blocked_connection_timeout` was specified in the connection parameters, a call to `pika.BlockingConnection` was indeed timing out after the number of specified seconds. This is not the case any longer.

In order to reproduce the issue:

1. Deploy a AMQP server such as RabbitMQ on a

[2019-12-24 01:20] lukebakken commented on #1257
This is a **_perfect_** issue report, thank you! I'll get to work on it this week.

[2019-12-26 17:46] lukebakken commented on #1257
Here is how I tested what you report.

* Used [this code](https://gist.github.com/lukebakken/eff5f4497f8f176edd2a3909bf7aa141).
* Using Pika 0.13.1, I ran RabbitMQ, and then ran `kill -STOP $PID` on the `beam.smp` process pid.
* Ran `python ./repro_0.13.1.py`. The connection is established, but the AMQP handshake _never times out_.
* Using the `master` branch of Pika (which is 1.1.0, basically), t

[2019-12-26 17:46] #1257 closed

[2019-12-26 18:38] vitaly-krugl commented on #1257
Luke's interpretation is correct.

On Thu, Dec 26, 2019, 9:46 AM Luke Bakken <notifications@github.com> wrote:

[2019-12-26 20:01] lukebakken commented on #1257
Thanks @vitaly-krugl I appreciate the double-check

[2019-12-28 09:16] asvald opened #1258 "Change x-priority"
Hello! I want to change priority of consumer (x-priority) after every processed messages (prefetch = 1).  What the best way to do that ? I see only cancel() and new call consume() before/after ack() currently processed message.

[2019-12-28 17:28] lukebakken commented on #1258
Please ask this question on the [`pika-python`](https://www.outdoorgearlab.com/reviews/camping-and-hiking/4-season-tent/black-diamond-eldorado) mailing list so that other people may learn from it. Thank you.

As a reminder, this is what is shown when you click "New Issue" in this repository:

[code]

[2019-12-28 17:28] #1258 closed

[2020-01-13 14:33] nkborisov commented on #1052
Hi
did you resolve that bug? I'm getting same stuff with BlockingConnection

[2020-01-14 01:42] lukebakken commented on #1052
@nkborisov no, I never received the requested information. There is no evidence at this point of a bug in Pika.

[2020-01-14 08:17] nkborisov commented on #1052
@lukebakken Thank you for your answer
So let me try to describe my case, throught i'm not sure, that it's exactly a bug of pika. Perhaps it's some kind of wrong using scenario or something like that.
I have following simple code:

[code]
That class is base for two inheritances - SenderConnection and ReceiverConnection (just dummy handlers of user queues).
Top-level code has been creating one insta

[2020-01-14 18:54] lukebakken commented on #1052
I wouldn't worry too much about it. See #894 and #192

[2020-01-23 11:41] seenureddy commented on #1244
@deveshks @lukebakken Anyone worked on this issue?

[2020-01-23 15:12] lukebakken commented on #1244
Not yet.

[2020-01-28 06:49] seenureddy commented on #1244
@lukebakken I will work on this issue.

[2020-01-29 09:51] seenureddy commented on #1244
@lukebakken I have done the changes [https://github.com/seenureddy/pika/commit/d79ce1c1d576f1d39c72ef7f8aaeb48c3802302a](url). Need to test it.

[2020-01-30 19:47] jxramos commented on #1244
Thanks for picking this up @seenureddy, I got pulled off the tech stack working with RabbitMQ from my team but this is still desired by us. Having these literals tied to enums really improves the discoverability of the other relevant possibilities by simply looking up the enum's definition.

If there's anywhere else in the codebase that has scattered families of literals that could benefit from th

[2020-02-05 08:51] seenureddy commented on #1244
In my project I'm using the different exchange_type `EXCHANGE_TYPE = 'topic'`. Is it possible to use the same `ExchangeType` class for this type. Found in this location `examples/asynchronous_consumer_example.py`

[2020-02-06 09:11] howff opened #1261 "encoding of int data type depends on its value"
The encoding of integers into either 32-bit or 64-bit seems to depend on the current value of the int. This makes it inconsistent for subsequent readers which might be expecting a fixed size (32 or 64 bits). Can data.py allow a specification of data type when encoding?
I note there are other issues still open about inconsistencies with data types #599 #601

[2020-02-06 15:39] lukebakken commented on #1261
Thanks for using Pika. This library is maintained by volunteers during their spare time so we can't make any promises about prioritizing this issue. We would be happy to review a pull request addressing these issues.

[2020-02-14 12:37] AndyMender opened #1262 "delivery_tag type mismatch between BlockingChannel and Channel"
The `BlockingChannel` class defines the following method:
[code]
Which in turn calls the corresponding method of the `Channel` class:
[code]
A call to `BlockingChannel.basic_reject` will throw a `TypeError` exception if the `delivery_tag` is not defined (`None` by default) or has a non-integer value (for example, an instance of `pika.spec.Basic.Deliver`). This problem concerns multiple other metho

[2020-02-14 14:28] lukebakken commented on #1262
Seems like an oversight. We would happily accept a pull request to fix this.

[2020-02-23 14:36] AndyMender commented on #1262
@lukebakken Apologies. I should've opened a pull request as soon as I had found the bug. Here it is: https://github.com/pika/pika/pull/1264

[2020-03-05 13:00] tiendan commented on #320
Hi @gmr, I just found this old thread because we are getting the same error with Pika v1.1.0 😢 The error message is:

We are resolving another configuration issue which makes RabbitMQ enter into 'memory resource limit alarm' mode, so it might be related to that. Is it better to open a new issue?

I've also found some more related info:
https://john.eckersberg.com/debugging-rabbitmq-frame_too_large

[2020-03-05 15:06] lukebakken commented on #320
@tiendan unless we can reproduce that issue there's little use in opening a GitHub issue here.

[2020-03-05 15:21] tiendan commented on #320
I also thought so 😊But just wanted to comment in case anybody had the slightest idea why it might be happening (couldn't find the PR for the fix mentioned above). Will open an issue if we can find a way to replicate it 👍

[2020-03-06 12:33] seenureddy commented on #1261
@lukebakken Are you working on this issue?

[2020-03-06 15:21] lukebakken commented on #1261
No I have been busy with the .NET client for several weeks now.

[2020-03-11 10:07] azharukan commented on #1240
I am getting this error because of message size. Doesn't pika sends messages in chunks if the size exceeds configured size?

[2020-03-11 15:01] lukebakken commented on #1240
It would be great if someone took the time to provide exact steps to reproduce this problem, or submitted a pull request with a fix. Pika is maintained by volunteers who don't have the time right now to guess at how to reproduce an issue.

[2020-03-25 12:05] elelayan opened #1265 "pika can't encode unsigned long long header values that don't fit in long long"
I try to send a huge number in an application property header (11171330917854890490 which is between 2^63 and 2^64) but it fails with and exception:

(using Python 3.6.7 | packaged by conda-forge | (default, Nov 21 2018, 03:09:43) )

Stacktace in context is:

[code]

To reproduce, I isolated this short code in the python interpreter:

imports:
[code]

verify int size
[code]

try converting a small

[2020-03-25 13:39] elelayan commented on #1265
Sure, that could be a problem if negative long longs are packed this way. Maybe check if < 0 ?

[2020-03-25 15:02] lukebakken commented on #1265
Hello and thanks for using Pika. You seem to have a good grasp on this issue. Please submit a pull request to fix it, and include tests.

[2020-04-23 03:30] xiaoweigege opened #1268 "pika.exceptions.InvalidFrameError: Invalid FRAME_END marker What's the problem"
python==3.7.4
pika==0.12.0

channel.basic_ack  error

pika.exceptions.InvalidFrameError: Invalid FRAME_END marker What's the problem

[2020-05-03 12:06] avolution opened #1269 "Connection Creation sometimes hang forever without any exception."
Sometimes it work, sometimes not.
On fail there is no output or so .. the process hangs forever

My ConnectionParameters are:

`
connection = pika.BlockingConnection(
    pika.ConnectionParameters(host='localhost',
                              credentials=credentials,

                              connection_attempts=10,
                              retry_delay=1,

[2020-05-04 18:37] prashantvidja commented on #765
@fengyiyingdong
I have generated cert with tls_gen but not working for me.
https://github.com/michaelklishin/tls-gen
Could you please tell me how you have created the certificate?
Thanks

[2020-05-19 11:21] khaitqhust opened #1271 "Re-queue at the tail of the queue"
Hi there,

Thank you for using Pika.

- IMPORTANT -----------------------------------------------------------
STOP NOW AND READ THIS BEFORE OPENING A NEW ISSUE ON GITHUB
--------------------------------------------------------------------------

Unless you are CERTAIN you have found a reproducible bug in Pika, you must
first ask your question, discuss your suspected issue, or propose your new
feat

[2020-05-19 11:21] #1271 closed

[2020-05-19 11:26] khaitqhust opened #1272 "Re-queue at the tail of the queue"
Hi there,

According to the RabbitMQ document:

But, I want to re-queue message at the tail of the queue. How i can do this?
I am using RabbitMQ 3.8, pika 0.12.0

Thank you!

[2020-05-19 14:24] lukebakken commented on #1272
Hello and thanks for using Pika.

Please do not use GitHub for questions. The reason is that other people will probably not learn from the answers you receive. This project does not use GitHub for discussions.

Since you are asking a RabbitMQ-specific question, ask on the mailing list:

https://groups.google.com/forum/#!forum/rabbitmq-users

[2020-05-19 14:24] #1272 closed

[2020-05-19 14:26] lukebakken commented on #1272
When you opened [this issue](https://github.com/pika/pika/issues/1271), you saw the following text explaining that you should first ask on the mailing list. When a project provides instructions, please follow them -

[code]

[2020-05-20 09:49] rajib-raiyat opened #1273 "How can I disable printing this INFO logs in my console"
my rabbitmq server is running..

this is printed by consumer.py

[code]

[2020-05-20 10:19] rdp-in opened #1274 "Pika multithreading. Consumer stuck"
I have a setup in which consumer is written in python using Pika Library. The application uses multithreading using

`futures.ThreadPoolExecutor(max_workers=thread_count)`
In our scenario thread_count is set to 7.

And pika consumer is using

[code]
Here the prefetchCount is set to 20.

Now the problem is when I run the application, for sometime the transactions are processed properly. We sent the

[2020-05-20 13:47] lukebakken commented on #1274
Hello, and thanks for using Pika.

I can' help without a complete code sample that I can run. My guess is that you are not using Pika correctly with threads. At minimum, you should be using a dedicated connection per thread.

Please provide the following information:

* Python version and operating system
* Pika version
* Complete code sample I can run

I will re-open this issue if I find a bug in

[2020-05-20 13:47] #1274 closed

[2020-05-20 14:45] lukebakken commented on #1273
Hello and thanks for using Pika.

Those log messages are not printed by Pika. I do not know how you are configuring logging in your application, but you need to configure it differently. If you can share code that demonstrates this issue, I'll take a look.

[2020-05-20 14:45] #1273 closed

[2020-05-20 14:53] rajib-raiyat commented on #1273
Thanks

[2020-05-25 12:39] HosseinlGholami commented on #841
same problem  !
first run it inside a thread :
______________________________________________________________________________
import threading
import ctypes
import time
import pika

class rbmq(threading.Thread):

    # Thread class with a _stop() method.
    # The thread itself has to check
    # regularly for the stopped() condition.

    def __init__(self,Slug,ChannelNum,Parameter,prefetch_count

[2020-05-25 12:45] HosseinlGholami commented on #841
first run basic_consume inside a thread :
______________________________________________________________________________

import threading
import ctypes
import time
import pika

class rbmq(threading.Thread):
    # Thread class with a _stop() method.
    # The thread itself has to check
    # regularly for the stopped() condition.

    def __init__(self,Slug,ChannelNum,Parameter,prefetch_count,Queu

[2020-06-06 09:50] AndyMender commented on #1262
I completely forgot about this issue, but can the associated PR be merged? @lukebakken ?

[2020-06-13 19:25] Layder commented on #1144
thanks!

[2020-06-16 16:31] flavienbwk commented on #1144
I solved my problem following [this pika example](https://github.com/pika/pika/blob/0.12.0/examples/basic_consumer_threaded.py), specifically using `connection.add_callback_threadsafe(cb)`.

[2020-06-19 11:16] orangeagain opened #1278 "Command：Select 2>ERR invalid DB index for 'select DB index is out of range'"
Redis Command

ERR invalid DB index for 'select DB index is out of range'

why i can‘t change datebase？

[2020-06-22 16:23] #1278 closed

[2020-06-24 20:34] mato2000 commented on #1240
Hi, I had the same error, but not the exact situation. First I had `basic_publish` that didn't handle a `StreamLostError`. Then, on the same channel another `basic_publish` raised a `ChannelWrongStateError` with the same message.

I think it's confusing, since that the documentation says it will raise `UnroutableError` and `NackError` only.

[2020-06-24 20:54] lukebakken commented on #1240
@jgoodman8 a thumbs down is not helpful. What would be helpful would be a way to reproduce this issue or a pull request with a suggested fix. Once I'm done with the `6.2.0` RabbitMQ .NET client release I may have time to work on Pika. It may come as a surprise, but RabbitMQ core engineering is only 9 people. We maintain the product, support RabbitMQ for paying customers _and_ several client librar

[2020-06-24 21:32] mato2000 commented on #1240
In the readthedoc site:
https://pika.readthedocs.io/en/stable/modules/adapters/blocking.html#pika.adapters.blocking_connection.BlockingChannel.basic_publish

[2020-07-13 19:35] chowey opened #1279 "Pika stripping comments inside strings"
This shows up in [es-module-shim](https://cdn.pika.dev/-/es-module-shims@v0.4.7-iVxJEhO4aDmWgEVhkYjN/dist=es2019/es-module-shims.js), line 2343:

[code]

Compare to the [source file](https://github.com/guybedford/es-module-shims/blob/0.4.7/src/es-module-shims.js#L120):

[code]

Everything after the "comment" is stripped from the pika build, even though the "comment" is inside a string.

[2020-07-13 20:17] lukebakken commented on #1279
I believe you want one of these repositories - https://github.com/pikapkg

[2020-07-13 20:17] #1279 closed

[2020-07-13 21:07] chowey commented on #1279
My bad.

[2020-07-15 15:40] hushenbeg commented on #961
yes, it should be removed from pika

[2020-07-27 16:54] priyanka30200 opened #1280 "Change the logging information."
https://github.com/pika/pika/blob/master/pika/channel.py#L1237 this logger is logging header information.
As discussed here https://groups.google.com/d/msg/pika-python/I9LXQLBvbCk/dGs5J5DiCgAJ, raising this issue to change the logging information. Will submit the PR for this issue.

[2020-07-27 16:58] #1280 closed

[2020-07-30 13:12] sekogan opened #1282 "AlreadyCalledError in twisted connection adapter"
Hi!

I am having trouble with the following scenario:

[code]

It fails every time:

[code]

[Full log with debug messages from pika](https://github.com/pika/pika/files/5001382/full_log.txt)

Using pika 1.1.0, twisted 19.10.0 and python 2.7.14.
[code]

[2020-07-30 14:16] lukebakken commented on #1282
Hi I'm assuming this is your message on the mailing list - https://groups.google.com/d/topic/pika-python/OaHcH2tJtjo/discussion

I'm hoping @abompard can help out as I'm not familiar with the Twisted adapter.

How common is it to cancel an operation before running it? My guess is this is not a common scenario.

[2020-07-31 06:38] abompard commented on #1282
I'll have a look!

[2020-07-31 07:07] abompard commented on #1282
OK, I see where this comes from, and indeed cancelling those deferreds is not supported at the moment. I can make Pika ignore the error, but maybe we can do better. @lukebakken is there a way in Pika to cancel a call that has been made? Say I'm calling `queue_declare` and the server is taking too long to respond, as a client can I cancel it? If we can't tell the server to cancel the operation, may

[2020-07-31 13:42] lukebakken commented on #1282
There is no way that I know of to cancel a call that is made. If @vitaly-krugl is around he could chime in.

[2020-07-31 14:15] abompard commented on #1282
@sekogan Could you tell us more about why you are cancelling this deferred, in which context, and what you would expect to happen?

[2020-07-31 16:04] sekogan commented on #1282
@abompard For example I use cancellations to stop coroutines performing lengthy operations. Imagine a coroutine named "consumer" which declares a queue, calls basic_consume and handles messages somehow. To stop it I cancel the deferred returned by that coroutine. The deferred forwards cancellation to the deferred it is waiting for which forwards it again and so on. The last deferred in that chain

[2020-08-12 12:33] Dhruva0707 commented on #1257
if you create a queue for the channel and use:
for message in channel.consume():

in this case Arseni gave, an exception should be returned right? That is not so in my case

[2020-09-11 10:23] rajeevbaalwan opened #1283 "How to pass custom parameters to consumer callback?"
I have found this doc for basic_consume

on_message_callback (callable) –The function to call when consuming with the signature on_message_callback(channel, method, properties, body), where channel: pika.Channel method: pika.spec.Basic.Deliver properties: pika.spec.BasicProperties body: bytes
auto_ack (bool) – if set to True, automatic acknowledgement mode will be used (see http://www.rabbitmq.com

[2020-09-11 12:21] lukebakken commented on #1283
Please use the google group to ask questions in the future:

https://groups.google.com/g/pika-python

Use the `functools` library to add arguments in this manner:

https://github.com/pika/pika/blob/master/examples/basic_consumer_threaded.py#L70-L71

[2020-09-11 12:21] #1283 closed

[2020-09-29 19:58] clippered opened #1284 "Question about Twisted example from documentation"
Hi Team pika,

Just a question about the example from https://pika.readthedocs.io/en/stable/examples/tls_mutual_authentication.html specifically the last one which is using Twisted.
I created a simpler one based on it without TLS, but apparently it is not working.

[code]

So inside the "publish()" callback function, "connection" argument is None.
I'm using Python 3.8.5, pika 1.1.0 and Twisted 20.

[2020-09-29 22:00] lukebakken commented on #1284
@abompard I'm hoping this is immediately obvious to you...

[2020-09-30 13:16] mustfkeskin commented on #642
İ have same problem
How do you solve it

[2020-10-02 21:25] asinha94 opened #1285 "Use of catch_warnings/filterwarnings can cause exceptions to be raised in other threads"
While encoding an integer, all warning are filtered so that they will raise exceptions if they occur. [The context-manager is not thread-safe](https://docs.python.org/3/library/warnings.html#warnings.catch_warnings) and any warning raised in any other thread at the same time will be raised as an exception. My team has run into this a few times while pika is under heavy load. Offending code here ht

[2020-10-02 23:03] asinha94 commented on #1285
If there are no other consequences for removing the `DeprecationWarning` I can submit a PR for this, or it could be combined with #1265

[2020-10-07 16:03] lukebakken commented on #1285
Please submit a PR for this issue (with tests, if appropriate). If you have time to address #1265 in another PR that would be great.

[2020-10-09 07:59] Nabu-thinker-ru commented on #1269
I suspect i have the same problem. Is there any workarounds?

[2020-10-09 08:15] avolution commented on #1269
@Nabu-thinker-ru
Don't use the BlockingConnection Client
Use

https://pika.readthedocs.io/en/stable/examples/asynchronous_consumer_example.html
https://pika.readthedocs.io/en/stable/examples/asynchronous_publisher_example.html

The Async Client is working well

[2020-10-09 16:18] cethomasson opened #1286 "Possible race condition between selector_ioloop and writer"
In our application, we have implemented a client library for both publishing and consuming based on merged asynchronous_publisher_example.py and asynchronous_consumer_example.py.  We have recently encountered errors when publishing a message that appear to be due to a race condition.  It is extremely hard to reproduce - we have only seen it on 3 different processes out of 18, and doesn't always ha

[2020-10-09 16:22] lukebakken commented on #1286
Yes, please open a pull request. Tests would be great as well if possible. (cc @vitaly-krugl)

[2020-10-13 23:27] viniciusd commented on #511
Not sure I follow you here, there is an example of a basic threaded consumer that shares the connection object with the thread: https://github.com/pika/pika/blob/0.12.0/examples/basic_consumer_threaded.py

It isn't supported even though there is an official example using it?

[2020-10-13 23:38] lukebakken commented on #511
@viniciusd that example is the _only_ way to do cross-thread method calls with Pika.

I believe that @derkinderfietsen implied something more transparent to the end-user, but that was just a guess.

[2020-10-13 23:44] viniciusd commented on #511
I found this thread because I am having the same error with an expanded version of the basic consumer threaded example. But it is probably because I am sharing an outbound channel together with the connection itself (I am debugging it literally now)

[2020-10-14 16:54] r-chris commented on #511
I am running into the exact same issue and am trying to solve this in an expanded example from the reference implementation as well. In my case I was trying to post a new message from a separate thread. I assume that - as shown in the example, I can also use `conn.add_callback_threadsafe(cb)` here to post on the same channel again.

@viniciusd please provide an update if you have gained more insig

[2020-10-14 17:24] r-chris commented on #511
For me using `conn.add_callback_threadsafe(cb)` did the trick to being able to re-use the the connection / channel.

[2020-10-14 17:43] viniciusd commented on #511
Same solution as you @r-chris. I moved the publishing logic into the thread-safe callback and it worked. I will take some time checking what `add_callback_threadsafe` actually does internally.

The issue I am currently facing is the fact that exceptions raised in the working thread make the consumer get stuck as the previous message didn't get its ack.

I am trying a continuous loop with `thread.j

[2020-10-26 08:22] tRexCheng commented on #1284
Hi @clippered,  maybe try this

[code]

[2020-10-27 23:16] clippered commented on #1284
Thanks @tRexCheng , that worked.
It would be good to update the docs about this. I might try it when I get time.
Cheers

[2020-10-29 15:38] pat1 opened #1289 "asynchronous_publisher_example.py do take in account confirms with multiple parameter"
I publish to a rabbitmq broker setting a callback for confirm delivery:
channel.confirm_delivery(ack_nack_callback=self.on_delivery_confirmation)

Rabbitmq broker use the multiple parameter when confirm publish:
https://www.rabbitmq.com/confirms.html#consumer-acks-multiple-parameter

How I can check this field in on_delivery_confirmation callback ?
Seem to me the  asynchronous_publisher_example.py

[2020-10-29 17:02] lukebakken commented on #1289
We would welcome improvements to the example code. Please see the following:

https://groups.google.com/forum/#!msg/rabbitmq-users/-bmUoo0-gMk/tfB7RrlmBQAJ

[2020-11-25 12:47] joao-conde commented on #927
Hello and sorry to re-open this discussion.

Regarding this quote:

Does this apply to `basic_publish` too? Say I have multiple threads publishing to an exchange, I should make use of `add_callback_threadsafe` to add a publish callback, right?

If the above is correct, then I have the following problem. Currently I am trying to use `basic_publish` with `add_callback_threadsafe` but the publish cal

[2020-11-25 13:52] lukebakken commented on #927
@joao-conde please do not follow up in a closed issue. Either open a new issue with your question, or post a question to the mailing list: https://groups.google.com/g/pika-python

You should really be using the `SelectConnection` connection type: https://github.com/pika/pika/blob/master/examples/asynchronous_publisher_example.py

Yes that is one option. The other is to synchronize access to the Pi

[2020-11-25 14:05] joao-conde commented on #927
@lukebakken  sorry for the misplaced comment. Thank you for your help, in case of future questions I will make use of the mailing list.

[2020-11-28 19:35] pat1 commented on #1289
I use this implementation:
https://github.com/r-map/rmap/blob/b422d6b643d4bd972d0d8260b536701b8a5374be/python/rmap/rmap_core.py#L1801

as example I can suggest this class:
https://github.com/r-map/rmap/blob/b422d6b643d4bd972d0d8260b536701b8a5374be/python/rmap/rmap_core.py#L1628
can run in thread with ack
method run to start ; stop to stop (terminate if in thread)
message can be read from queue and

[2020-12-02 16:46] alecgerona commented on #1244
@seenureddy is this already a PR?

[2020-12-02 17:21] lukebakken commented on #1244
#1260 will address this.

[2020-12-07 14:57] prot0man opened #1291 "Should check if self._timeout_heap is None before pushing on heap"
https://github.com/pika/pika/blob/a3ae3e5aae3fd546e9ae73bff0175f5d61a9d39a/pika/adapters/select_connection.py#L258
The first argument to heaq.heappush must be a list. If the close is called on the Timer object, then self._timeout_heap will be set to None, which will cause exceptions with the heappush. Adding a check for "if self.timeout_heap is not None" at the beginning of the function should fix

[2020-12-07 16:35] lukebakken commented on #1291
Thanks for noticing this. We have not received any reports of this causing an issue. If you'd like, submit a pull request to address this issue.

[2020-12-07 16:53] prot0man commented on #1291
So I've seen this line of code cause the exception "TypeError: heap argument must be a list", and that's how I found the issue. I'll try to get a pull request in.

[2020-12-07 16:54] lukebakken commented on #1291
It would be great to know how to reproduce the `TypeError` exception.

[2020-12-07 18:42] prot0man commented on #1291
Honestly, I'm trying to make it reproduce myself. I had a code base that was using pika working for the longest time without seeing the issue, then when I installed that codebase on a new VM, I ran into this issue. I still can't reproduce the issue on my main machine and don't have access to the VM at the moment.

[2020-12-07 18:43] prot0man commented on #1291
All I know for now is that self._timeout_heap is None when that callback is being called.

[2020-12-18 22:17] mcguiremw commented on #1291
I am able to get this error when calling `self.connection.process_data_events(time_limit=0)`

[code]

[2020-12-22 10:03] ZiWee opened #1294 "Memory leak when multiple field is set to true in `ack`"
https://github.com/pika/pika/blob/a3ae3e5aae3fd546e9ae73bff0175f5d61a9d39a/examples/asynchronous_publisher_example.py#L263

better like:
[code]

[2021-01-04 19:03] neilss commented on #320
@tiendan I got the same error with pika v0.11.2, error message is :
Error on AMQP connection <0.14419.6827> (X.X.X.X:47888 ->Y.Y.Y.Y:5672, vhost: 'XXX', user: 'XXX', state: running), channel 10066:
operation none caused a connection exception frame_error: "type 123, all octets = <<>>: {frame_too_large,1701934437,131064}"

[2021-01-09 11:31] arbel03 opened #1296 "AsyncioConnection with a custom_ioloop raises exception"
Hi, I am trying to create a Pika wrapper using AsyncioConnection, I want it to be async and reconnect in the background. If no connection is up, don't produce or consume events.
however, when providing my own `asyncio.new_event_loop()` to `AsyncioConnection(custom_ioloop)`, I get an exception.
Code:

_on_connection_open_error is being called.
err is equal to = `RabbitMQ Connection error AMQPConnec

[2021-01-09 14:28] arbel03 commented on #1296
I found this which might be related https://groups.google.com/g/pika-python/c/-m8KpWI6wlo/m/Ym1rioGsAgAJ

[2021-01-14 19:57] clarabez commented on #921
Had the same using python 3.9. Just downgraded to 3.6 (into my venv) and worked fine.

[2021-01-14 21:19] lukebakken commented on #921
@clarabez could you provide more detail? Specifically, what errors? I just ran the test suite successfully using Python 3.9.1 -

[code]

[2021-01-16 07:45] santoshbalaji commented on #1144
Hi I am also getting the same using with multiple channel across multiple threads shared on same connection. I can see the single connection per thread works. But it is expensive to create one connection per thread right ? Is there any workaround to support multiple channels across multiple threads on single connection

[code]

[2021-01-16 13:42] lukebakken commented on #1144
No, not if your thread is long-running.

No

[2021-01-16 14:02] santoshbalaji commented on #1144
For my scenario i may need to use it with web server. So for every request I will be publishing via rabbitmq. The thread life span is less since based on number of requests threads are going to be created and destroyed. So for this I may have to create new connection on each thread. Only way I can think of is getting all requests and store it in memory and later run a scheduled job to publish them

[2021-01-19 18:42] lukebakken commented on #1144
Almost every web environment supports long-running threads.

Depending on your expected request rate creating a new connection per request could be adequate. Only benchmarks can prove this.

[2021-01-21 12:12] sekogan opened #1298 "channel, basic_publish never return (twisted_connection)"
We use a single RabbitMQ server with clients connecting to it from about 250 machines. The network is fairly stable but once in a while some connectivity issues do happen. Most of the clients reconnect to the broker but some of them (like 1-2) occasionally hang forever.

Made a minimal script that reproduces one of the causes of the issue (please find it down below). The script emulates broken con

[2021-01-24 15:10] santoshbalaji commented on #1144
Thanks for the reply

[2021-01-26 07:34] michaelklishin commented on #1298
@sekogan thank you for your contributions. Would you like to address the first case as well?

[2021-01-27 07:02] sekogan commented on #1298
@michaelklishin The first case was an example of "good" behavior, so there is no need to fix it.
As far as I'm concerned, the issue can be closed.

[2021-01-27 19:07] #1298 closed

[2021-01-27 19:07] michaelklishin commented on #1298
OK, great. Thanks again for contributing :)

[2021-01-27 20:01] lukebakken commented on #1244
Implemented by #1260

[2021-01-27 20:01] #1244 closed

[2021-01-27 20:03] lukebakken commented on #1262
Fixed by #1264. Thanks!

[2021-01-27 20:03] #1262 closed

[2021-01-27 20:17] #1255 closed

[2021-01-27 20:18] lukebakken commented on #1285
Fixed by #1290

[2021-01-27 20:18] #1285 closed

[2021-01-27 20:20] lukebakken commented on #1265
I removed this from the [`1.2.0`](https://github.com/pika/pika/milestone/17) milestone as it is not a serious enough issue to address at this point. @elelayan if you have time to submit a pull request that would be great.

[2021-01-27 21:15] lukebakken commented on #1284
@tRexCheng @clippered - does the TLS example need to be updated? Could a pull request be provided?

[2021-01-27 21:56] lukebakken commented on #1291
Fixed by #1292

[2021-01-27 21:56] #1291 closed

[2021-01-27 21:58] lukebakken commented on #1269
@avolution thank you for following up.

[2021-01-27 21:58] #1269 closed

[2021-01-28 00:44] clippered commented on #1284
Thanks for the reminder. I've made a PR on https://github.com/pika/pika/pull/1304

[2021-01-28 13:48] lukebakken commented on #1284
Thank you!

[2021-01-28 13:49] #1284 closed

[2021-01-30 12:31] SomeAkk commented on #1144
I aimed to pause consuming from mq during (another) problems in app, and for that write code which would pause consuming until (another) problems in app would not be solved. For that I try to not simple "pause" but "stop consume and close". (Maybe is any more good solution for that?)

Anyway, I got the same problem with **pop from an empty deque**.

Prerequisites:
- start 1 connection per 1 (main)

[2021-01-30 15:31] #1286 closed

[2021-01-30 15:31] lukebakken commented on #1286
Thank you @cethomasson

[2021-02-04 07:05] LeoDemoniac opened #1306 "Raise a exception when connection rabbit server IncompatibleProtocolError 104"
### The base information:
- python version 2.7/3.6.5
+ pika version: 1.1
* rabbit-server 3.7.16 and 3.8.9

### The code for test is
[code]
Nothing error occurred by rabbit-server(3.7.1). And we used it for rabbit(3.8.9).
It raised thoes exceptions:
[code]

Then we captured the TCP packet by `tcpdump`, we found the server `RST` the connection after handshaked。
This is the brief data we analysis of

[2021-02-04 08:53] LeoDemoniac commented on #1306
So sorry, I got a message from our group member, it has a security rule on this VM。This only allow the packet from the security  machine.They rejuect all other packets。

[2021-02-04 08:53] #1306 closed

[2021-02-10 18:14] timabbott opened #1307 "Changelog not updated for 1.2.0 release on ReadTheDocs"
Hi!  I was upgrading to the latest 1.2.0 release on pypi and wanted to read the changelog, but I notice it's not updated on ReadTheDocs yet:

https://pika.readthedocs.io/en/stable/version_history.html

I notice that https://github.com/pika/pika/blob/master/docs/version_history.rst has been updated; maybe the ReadTheDocs build failed or something?

[2021-02-15 18:10] futur3gho5t opened #1309 "pika.exceptions.StreamLostError"
Hello ,could somebody tell me please how to resolve this problem: pika.exceptions.StreamLostError: Stream connection lost: ConnectionResetError(104, 'Connection reset by peer')

I use my consumer thread class:

class CrawlThread(threading.Thread):

    def __init__(self, lang, data_queue):
        threading.Thread.__init__(self)
        self.lang = lang
        self.data_queue = data_queue

[2021-02-22 04:44] oneup40 opened #1310 "Example asyncio_consumer_example.py is broken"
Running the asyncio_consumer_example in pika/examples/asyncio_consumer_example.py raises the following fatal exception:

[code]

Python version: 3.9.2 (from python:3.9 official Docker image)
pika version: 1.2.0 (from PyPI)

Also note that the only documentation for how to use this adapter is this broken example.

[2021-02-22 05:30] #1310 closed

[2021-02-23 06:19] linesight opened #1311 "1.2.0 version is breaking for python2.7"
[code]

looks like the commit https://github.com/pika/pika/commit/d79ce1c1d576f1d39c72ef7f8aaeb48c3802302a is breaking python2.7 compatibility

[2021-03-13 03:22] michaelklishin commented on #1311
Python 2.7 has reached EOL [over one year ago](https://www.python.org/doc/sunset-python-2/#:~:text=As%20of%20January%201st%2C%202020,when%20we%20released%20Python%202.7.). Those who have to use it can use Pika 1.1. It supports the same range of RabbitMQ versions and very much the same feature set.

I have updated the README to not list Python 2.7 as supported by Pika 1.2.

[2021-03-13 03:22] #1311 closed

[2021-03-13 03:22] michaelklishin commented on #1307
@lukebakken @gmr how can I update ReadTheDocs?

[2021-03-13 03:23] #1309 closed

[2021-03-13 03:23] michaelklishin commented on #1309
All this tells us is that RabbitMQ or an intermediary (proxy, load balancer) has closed the connection. There is a broad range of possible reasons.

[2021-03-13 03:24] michaelklishin commented on #1294
@ZiWee can you please provide a way to reproduce and perhaps clarify what specifically you mean by the "better like" comment above?

[2021-03-13 03:26] michaelklishin commented on #1265
@elelayan would you be interested in submitting a PR for your suggestion?

[2021-03-15 13:09] elelayan commented on #1265
Hi, @michaelklishin. Unfortunately I don't have time to implement and test sufficiently right now.

[2021-03-15 16:09] gmr commented on #1307
I'll login today and see how to get people access. The build is breaking when it runs.

[2021-03-15 16:50] gmr commented on #1307
I'll need other ReadTheDocs usernames to add as maintainers. Currently @lukebakken and I are the only maintainers.

The build was failing due to being set for Python 2 and missing Pathlib. I've updated the project to build with Python 3.

[2021-03-15 17:47] gmr commented on #1307
Confirmed the builds are fixed and manually triggered 1.2.0, stable, and latest. Any future builds should automatically be triggered and updated, barring any issues with the build itself.

[2021-03-15 17:47] #1307 closed

[2021-03-16 14:19] lukebakken commented on #1307
Thanks a lot @gmr!

[2021-03-19 03:49] fyuoo opened #1313 "basic_consume can not callback recv message"
use the pika(v1.2.0) rpc，client publish message to server but can't get the response(but use channel.basic_get is ok),why?
here is the example:

[code]

[2021-03-19 11:01] #1313 closed

[2021-03-19 11:02] fyuoo commented on #1313
see: https://github.com/pika/pika/issues/1234

[2021-03-24 18:22] deeplearningboy commented on #1118
here is fix

import pika

class RabbitMQ():
    def __init__(self):
        connection = pika.BlockingConnection()
        self.channel = connection.channel()
        # del connection
        self.channel.confirm_delivery()
        self.body = None

    def publish(self, routing_key, body, exchange='' ):
        try:
            self.channel.basic_publish(
                exchange=exchange,

[2021-03-30 10:41] MykhailoKhil opened #1314 "BlockingIOError: [WinError 10035] A non-blocking socket operation could not be completed immediately"
Hello there!
I also faced with this problem when I wanted to do performance testing with Locust and Pika.
On my macOS it working perfect but on Win10 1909 i have a error!
BlockingIOError: [WinError 10035] A non-blocking socket operation could not be completed immediately
My code you could find on  https://pastebin.com/ir0ACqKG I only publish a message in RabbitMQ  3.8.2 Erlang 22.2.2
Python versio

[2021-04-27 07:15] ZiWee commented on #1294
as example  in https://www.rabbitmq.com/confirms.html#consumer-acks-multiple-parameter (this is different with AMQP)
all tags from 5 to 7 would not be remove from `self._deliveries`

you will reproduce by publishing messages by `pika/examples/asynchronous_publisher_example.py` high frequently

[2021-05-07 07:44] LztCode opened #1316 "asynchronous_publisher_example.py And asynchronous_consumer_example.py Are they corresponding? Why not Publish/Subscribe or Producer/Consumer? Which mode do these two files correspond to?"
https://github.com/pika/pika/blob/master/examples/asynchronous_publisher_example.py
And
https://github.com/pika/pika/blob/master/examples/asynchronous_consumer_example.py
Are they corresponding?
Why not Publish/Subscribe or Producer/Consumer?
Which mode do these two files correspond to?
Looking forward to your reply.

[2021-05-09 07:31] #1316 closed

[2021-05-30 15:38] sogand145 opened #1318 "pika.exceptions.AMQPConnectionError"
when I want to connect to rabbitmq by Pika in django project, I get this error:
[code]

my code is:
[code]

all my projects run by docker-compose.yml file
I appreciate for any help to solving this problem

[2021-06-01 04:07] roycefan opened #1319 "How to consume many subject using multiprocess"
I want to consume three subject using multiprocess,

main.py

       #first
        consumer_thread1= threading.Thread(target=orderConsumer.run_dispatch1())
        consumer_thread1.start()    //   it will block here .

       #second
        consumer_thread2 = threading.Thread(target=orderConsumer.run_dispatch2())
        consumer_thread2.start()

run_dispatch2
              connection = pika.Sel

[2021-06-08 13:33] ThallyssonKlein commented on #1318
Your application is starting up before rabbitmq is available. I'm also experiencing the same problem. There is an alternative to wait for a specific host and port to run the application but I couldn't apply that to rabbit.

[2021-06-10 15:02] alexbodn opened #1321 "reconnecting might better start the loop. proposed minimal fix."
hello friends,

studying this example, i came to the conclusion there might be an error.
in case of an unintended connection drop, a loop restart seems more fit to be issued, and not a stop thereof.

https://github.com/pika/pika/blob/444ea0482eb604e16a6beaeb960cc5755096d286/examples/asynchronous_publisher_example.py#L105

[2021-06-30 07:40] 8fdafs2 opened #1322 "No exception raised when heartbeat timed out"
Our team is working on migrating an existing project that's using the 0.12.0 version of pika to the latest 1.2.0. The project relies on the heartbeat timeout exception raised by pika to determine if the network is disconnected, which runs well with the 0.12.0 version but not the 1.2.0 as the exception seems no longer to be raised when the network is disconnected.

A code snippet used to reproduce

[2021-06-30 08:25] ikiss commented on #1052
The problem occurred also in my case (for both blocked/unblocked callbacks).
Did some additional tracing and looks like during the Connection::_on_terminate call block/unblock callbacks are unregistered and a connection reset is performed - where the block/unblock callbacks are re-registered.
However the unregister callback from Callback::remove has a bug - in case you do not provide a callback_va

[2021-07-03 18:59] averri opened #1324 "basic_publish not sending messages"
I'm using `pika==1.1.0`. Please refer to the following examples in order to reproduce.

1. Start the RabbitMQ server (using Docker):
[code]

2. Create the following Python modules:

`pika_common.py`:
[code]

`pika_receiver.py`:
[code]

`pika_sender.py`:
[code]

3. Start the receiver:
[code]

4. Start the sender:
[code]

5. Verify that the sender is blocked, and the receiver never receives the mess

[2021-07-03 19:26] averri commented on #1324
I have found that if RabbitMQ is running low on any resource, the `BlockingConnection` will block until resolving the low resorce!

My disk has less available capacity than the low watermark:
![image](https://user-images.githubusercontent.com/1898447/124364947-ddaa3500-dc3c-11eb-9131-f8b1e4f5f2b4.png)

After allocating more space for RabbitMQ, the above code worked perfectly.

References:
https://

[2021-07-05 13:52] 8fdafs2 commented on #1322
I have narrowed down the update leading to this behavior change to the major one of 0.13.1 -> 1.0.0.

It seems the callbacks (one of which throws the wanted exception) will not be executed if the underlying io-loop doesn't tick by using `BlockingChannel.start_consuming()`, or `BlockingConnection.process_data_events()`, or `BlockingConnection.sleep()`.

[2021-07-10 15:50] mojtabajahannia commented on #1318
maybe need to start rabbitmq.
in linux:
`sudo systemctl start rabbitmq-server`
`sudo systemctl enable rabbitmq-server`

[2021-07-20 14:16] hontiky opened #1326 "Big heartbeat don't work"
Could someone help me?

I need to write the app which could save the connection between broker and consumer even for 2 hours. I need this because we have the API, which is use after message is read and it's response time could take more then hour.

I read about `heartbeat`, set it to 7200 seconds but for some reason it don't help. If processing of the message took < 2000 everything was ok.

I read

[2021-07-30 10:44] olii commented on #1326
AMQP heartbeat is an application-level heartbeat to ensure that there is an open TCP connection between your application and a broker. You can set any reasonable interval but you have to make sure that you poll the connection from time to time so the broker doesn't close it.

You should be good with any value of heartbeat if you manage to call https://pika.readthedocs.io/en/stable/modules/adapters

[2021-08-06 13:00] JaapJoris opened #1327 "Pika fails to quit when you press Ctrl-C"
Hi there,

Using Pika 1.2.0, the example code from https://pika.readthedocs.io/en/1.2.0/intro.html fails to quit when you press Ctrl-C.

## Steps to reproduce

First, copy-paste the example code into a file called `test.py`:

[code]

Then, run the following command and press Ctrl-C. Nothing happens.

[code]

Finally, press Ctrl-C again. The following traceback is produced.

[code]

**Expected resu

[2021-08-06 15:20] JaapJoris commented on #1327
If it's any help, I used `git bisect` to identify the commit that broke the example: https://github.com/pika/pika/commit/bd2580ea9e7d24e6d5199ebf6a77003ddde9f279

It seems that since then, the IO loop doesn't stop automatically anymore when the connection closes, and has to be stopped explicitly by calling `connection.ioloop.stop()`.

The fix is either to restore the behavior described in the docu

[2021-08-13 11:20] i-sach opened #1330 "error(104, 'Connection reset by peer') immediately(on the same second) after the blocking call"
Hello,
Need help. I am seeing the "ConnectionClosed" exceptions as below atleast twice a day.
I am using pika 0.13.1

  File "/usr/lib/python2.7/site-packages/pika/adapters/blocking_connection.py", line 2120, in basic_publish
    mandatory, immediate)
  File "/usr/lib/python2.7/site-packages/pika/adapters/blocking_connection.py", line 2207, in publish
    self._flush_output()
  File "/usr/lib/pyth

[2021-09-17 12:29] zhongqingbin opened #1331 "ERROR - _AsyncBaseTransport._produce() failed, aborting connection: error=ConnectionResetError(104, 'Connection reset by peer')"
2021-09-16 17:52:11,335 - ERROR - _AsyncBaseTransport._produce() failed, aborting connection: error=ConnectionResetError(104, 'Connection reset by peer'); sock=<socket.socket fd=14, family=AddressFamily.AF_INET, type=SocketKind.SOCK_STREAM, proto=6, laddr=('192.168.1.203', 51524)>; Caller's stack:
Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/pika/adapters/utils

[2021-09-21 13:55] cfrademan opened #1332 "pika channel publish blocks whole application."
Hi,

thank you for looking at this, so when we create a simple loop publishing millions of messages when all is well it works..  But when rabbitmq processes die we have an issue where the "publish" on blocking connector then gets stuck forever never returning on the publisher. When used in conjunction with API(S) and Logging facilities, this breaks our whole application. Yes you can simply reset t

[2021-09-21 14:09] cfrademan commented on #1332
Nevermind, ;-) silly billies us, found the isssue.

[2021-09-21 14:09] #1332 closed

[2021-09-24 15:21] sogand145 opened #1333 "problem with using multithreading in pika"
Hi
I have used multithreading in pika by rabbitmq but I got a lot of errors, searching this problem, some people said that pika is not thread-safe.
i tried to use one connection per thread but it is not solved.
I will send my consumer and producer scripts
I am using rabbitmq to internal connection between services developed with django rest in microservice structure.

Is it possible to help me to

[2021-11-02 23:01] JiahangChen1994 opened #1335 "Extension to refresh access token in long-lived connection"
- Background: am using Keycloak as Identity Provider for the oauth2.0-specified authentication in RabbitMQ 3.8.5. And the token expiration time is set to 5 mins, which means that i have to refresh the token in the rabbitmq-server every 5 mins, before it expires.

- Problem: Acutually, i am using pika to establish the connection and channel. I just disconnect from rabbitmq and try to create a new c

[2021-11-12 18:40] JiahangChen1994 commented on #1335
Any comments for this issues?
The AMQP-0.9.1 complete reference guide states that the extension to update token is added into this protocol. (https://rabbitmq.com/amqp-0-9-1-reference.html#connection.update-secret). But actually, this extension is not built in the pika.spec (https://pika.readthedocs.io/en/stable/modules/spec.html)

[2021-11-15 14:24] vitalis89 commented on #1322
I'm pretty sure I encountered the same problem. After analyzing the code I see that after the HeartbeatChecker aborts the connection, the `_flush_output` of `BlockingConnection` stops running callbacks because of the following:
[code]
Since the checker causes no data to be aggregated in the buffer anymore, `self._impl._get_write_buffer_size() == 0` returns True and also the `waiters` list contains

[2021-11-18 04:27] DawaTenzinNamgay12180008 commented on #208
hello i don't any time out so how should i define

[2021-12-02 03:16] bruse-peng opened #1336 "support x-delayed-message plugin of pika"
Thank you for using Pika.

how to user pika support the rabbitmq plugin  x-delayed-message

Thank you!

[2021-12-02 10:49] vitalis89 commented on #1322
@8fdafs2 wdyt?

[2021-12-02 11:34] 8fdafs2 commented on #1322
I am actually appreciating your efforts on this issue and I think you did a very good job there!
However, I stopped looking deeply into this issue as after I put 'sleep' (I/O events get processed in the background) statements around the relative code chuck, the problem seems to be kind of solved in my case (the exceptions will be thrown during the 'sleep'), though without a thorough test.
I didn't

[2022-01-03 16:03] comtihon opened #1337 "Wrong return type for basic_get"
Hi, according to the spec:
[code]
body should be string. However - bytes are returned:
[code]

[2022-01-07 12:22] dabbler0606 commented on #1330
It may be that the connection has been idle for too long and was disconnected. When the client sends the message again, it will report an error

Connection reset by peer

you can catch ConnectionClosed exception and retry

[2022-01-21 08:32] kaushiksrinivas opened #1339 "pika client connection closes upon rabbitmq server node shut down, does not automatically handle failure and reconnects to a available broker"
We are seeing pika client to terminate with below error upon shutdown of the broker to which pika client is connected to.
 [x] Sent 'Hello World!'
Traceback (most recent call last):
  File "send.py", line 96, in <module>
    channel.basic_publish(exchange='', routing_key=args_dict['queue'], body='Hello World!',properties=pika.BasicProperties(content_type='text/plain',delivery_mode=2))
  File "/usr

[2022-01-21 15:23] meaditisharma commented on #921
Hi,

I am also facing this issue.

`Python 3.9.9 (main, Nov 21 2021, 03:23:42)
[Clang 13.0.0 (clang-1300.0.29.3)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/saditi/workspace/nstriagetodb/broker_rabbit/__init__.py", line 1, in <module>
    from broker_rabbit.broker import B

[2022-01-21 15:37] lukebakken commented on #921
@meaditisharma this was fixed in #924. Please upgrade Pika.

[2022-01-21 16:08] meaditisharma commented on #921
@lukebakken Thanks, It got fixed with pika update

[2022-01-24 21:35] svramusi opened #1340 "Update license in Trove Classifier"
Currently, the trove classifier states the license is `BSD License` but the main page in GitHub says the license is `BSD-3-Clause License`. Could you please use the correct license identifier according to https://spdx.org/licenses/BSD-3-Clause.html in the trove classifier (assuming thats the correct license)? I would like to use pylic to validate that we're using 3-Clause where appropriate.

[2022-02-03 10:55] AntonGsv opened #1341 "channel.basic_ack for TwistedChannel does not return Deferred"
I want to call `reactor.stop()` immediately after confirming with a call to `channel.basic_ack(method.delivery_tag)`, but it executes asynchronously and does not return a `Deferred`. For now, the only way (that I could find) to do this is to add a wait before calling `reactor.stop()`.
[Similar issue on stackoverflow](https://stackoverflow.com/questions/26952002/twisted-and-pika-how-to-add-callback

[2022-02-09 12:00] cs-satish-mishra opened #1342 "Pika with python3.9 and Django4.x - TypeError: changelist must be an iterable of select.kevent objects"
I am trying to work with pika in python3.9 and Django 4.x  but while making connection it throws the error TypeError: changelist must be iterable of select. event objects

I am independently able to make connections with pika and python3.9. It only failed inside the Django project.

Is there any workaround for this issue?

[code]

[2022-02-18 10:12] pra-dan commented on #1318
On MAC, providing `localhost` leads to this error; instead explicitly providing `127.0.0.1` works as
[code]

[2022-02-28 05:12] sirosen opened #1343 "Versioning policy is undocumented (appears to be semver)"
There is no documentation in this repo or on the mailing list which indicates that `pika` uses semver. There are no past issues in which this is discussed, nor are there commit messages or the like. Searching the listhost history for "semver" and "semantic versioning" returns a single hit for a thread which _suggests_ that the library is using semantic versioning.

If the maintainers approve and w

[2022-03-18 07:04] xuqinghan opened #1346 "basic_consume a "stream" queue not work?"
following [https://www.rabbitmq.com/streams.html](https://www.rabbitmq.com/streams.html)
declaring queque, publishing meassge  are ok.  Why channel.basic_consume from stream not work?

[code]

[2022-03-28 05:05] xuqinghan commented on #1346
I find it's works in console but there is no stdout in sublime text.

[2022-03-28 05:05] #1346 closed

[2022-04-08 09:39] pfribourg-ias opened #1348 "consumer prefetch locked to 2000 by default even with prefetch_count=0"
Hi,

I have a simple issue:
with a single consumer on a queue, I want to have unlimited messages prefetch (unacked coming in).

In the documentation, it is said to call
`channel.basic_qos(prefetch_count=0, global_qos=True)`

but it just don't work, and my consumer is locked to 2000 messages prefetched, no more.
I can raise this number to 65535 but I need unlimited un-acked messages.
I will take ca

[2022-04-13 06:25] goclos commented on #1324
Hi,
Thanks! I had exactly same problem on GKE. Now it works perfectly.

[2022-04-16 06:52] mncmhs opened #1350 "alternate-exchange not available"
When I call basic_publish, I pass an unavailable route, why is this message not delivered to back_exchange?

`import pika

auth = pika.PlainCredentials('admin', 'admin')
conn = pika.BlockingConnection(pika.ConnectionParameters(host='127.0.0.1', port=5672, virtual_host='/', credentials=auth))
channel = conn.channel()
channel.confirm_delivery()
channel.exchange_declare(
    exchange='backup_exchange

[2022-04-23 08:23] nuo010 opened #1352 "获取连接信息"
Thank you for using Pika.

- IMPORTANT -----------------------------------------------------------
STOP NOW AND READ THIS BEFORE OPENING A NEW ISSUE ON GITHUB
--------------------------------------------------------------------------

Unless you are CERTAIN you have found a reproducible bug in Pika, you must
first ask your question, discuss your suspected issue, or propose your new
feature on the

[2022-04-26 10:52] csemanish12 opened #1353 "pika.UrlParameters does not parse password with "#" character"
pika.UrlParameters does not handle the password with "#" character in it.
here is code.
[code]

and this is the error i get
[code]
when it encounters "#" character, it considers character between ":" and "#" as port and tries to cast it an integer.

[2022-04-27 12:35] lukebakken opened #1354 "Enable pip caching in GH actions"
https://github.com/actions/setup-python#caching-packages-dependencies

[2022-04-27 13:33] #1352 closed

[2022-05-04 12:14] dgslv commented on #1240
hello mates,

any news on that?

[2022-05-04 13:03] lukebakken commented on #1240
@dgslv I'm assuming you ask because you have seen this issue?

[2022-05-10 04:51] libnoon opened #1357 "Remove dependency on "mock", the backport of Python3.4's unittest.mock to earlier Python versions"
The "mock" package is a backport of Python 3.4's unittest.mock. Now
that we only support Python 3.4+, this dependency can be removed.

In order to package pika properly on modern Fedora-based distributions (incl. CentOS, RHEL),
we have to get rid of the "mock" dependency.
See https://fedoraproject.org/wiki/Changes/DeprecatePythonMock

[2022-05-10 04:56] libnoon commented on #1357
I propose this pull request:
https://github.com/pika/pika/pull/1356

[2022-05-12 00:49] csemanish12 commented on #1353
Thanks for the response .

[2022-05-12 00:49] #1353 closed

[2022-05-13 10:52] 123mw123 commented on #1240
Same issue for me also. I am not able reproduce the error in my case. Restarting the queue, solving the problem

[2022-05-21 18:56] SantjagoCorkez commented on #1240
Well, you know, it's strange this is not fixed yet. The code itself and the changeset I have pointed to prove the bug. What reproduction scenario do you need? Rollback your tests and leave the codebase at current. Run the tests. You've got the reproduction.

Why I've pointed to the certain changeset is because then you could cherry pick the changes that affect and amend them. Just revert to except

[2022-05-21 19:50] lukebakken commented on #1240
The members of the RabbitMQ engineering team that maintain this library (mostly me these days) have much higher priority things to work on, some of which are for **paying** customers.

@SantjagoCorkez it seems like you've got a good grasp of the issue, yet you have not submitted a pull request with what you think are the correct fixes.

I finally may have some time in the next month or so to reall

[2022-05-21 19:51] lukebakken commented on #1240
I'll be sure that the documentation is updated as well.

[2022-05-21 21:23] Rajjix opened #1358 "TypeError: close() takes from 1 to 3 positional arguments but 4 were given"
Hey, The error is being on BaseConnection `close` method. it only accepts 2 parameters (3 with self).
https://github.com/pika/pika/blob/0.13.1/pika/adapters/base_connection.py#L114

But it's being called with four arguments as shown here
https://github.com/pika/pika/blob/0.13.1/pika/channel.py#L1076

the process function for base_connection doesn't need to be called with `self` twice. so removing

[2022-05-21 21:24] Rajjix commented on #1358
Full traceback.
[code]

[2022-05-23 10:12] NetBUG commented on #1079
I experience the same problems.
Situation: there is a remote RabbitMQ server (>75 ms ping), the consumer originally was written using aio-pika, but I also tried the example from https://github.com/pika/pika/blob/master/examples/asynchronous_consumer_example.py.
Problem: if I connect to a queue where messages of 200-300 bytes arrive, the connection is fine, disconnect happens instantly (`Channel 1

[2022-05-23 10:46] shachar-radoshinsky-am opened #1359 "Add support for proxy configuration (Socks5)"
Hi,
I couldn't find a way to pass proxy information (I'm using Socks5) into the rabbit connection.
Is there a way ?

[2022-05-23 13:00] lukebakken commented on #1079
@NetBUG rather than commenting on a very old, closed comment, please start a new discussion here:

https://github.com/pika/pika/discussions

[2022-05-23 23:43] lukebakken commented on #1240
I'm not exactly sure what scenario could cause `ChannelWrongStateError` when the state is `OPENING` because a user of this library should not attempt other channel operations until the `on_open_callback` is called.

I'll address this issue in this manner:
* Add an `is_opening` method so that every state has a corresponding check.
* Ensure the documentation and examples demonstrate handling the `Ch

[2022-05-24 02:38] lukebakken commented on #1359
No, there is no support in Pika for SOCKS. It appears that this library may be able to accomplish it via monkey-patching -

https://pypi.org/project/PySocks/

[2022-05-24 02:40] lukebakken commented on #1358
Thank you for the report but Pika 0.13 has been out of support for a while now. Please upgrade.

[2022-05-24 02:40] #1358 closed

[2022-05-24 02:41] lukebakken commented on #1357
Fixed by #1356

[2022-05-24 02:41] #1357 closed

[2022-05-24 02:42] lukebakken commented on #1343
Thanks. Yes indeed our goal is to follow semver, and a PR would be welcome.

[2022-05-24 02:43] lukebakken commented on #1342
Hello! It would be really great if you could provide a repository I could clone and run to see this error happening. Thank you.

[2022-05-24 02:44] lukebakken commented on #1341
Thank you, I will investigate this.

[2022-05-24 02:45] lukebakken commented on #1339
Right now Pika does not automatically reconnect for you. It may be added in a future release.

[2022-05-24 02:46] lukebakken commented on #1337
I'll update the docs, thank you. This must be left over from when Python 3 support was added.

[2022-05-24 02:47] lukebakken commented on #1336
I'm sorry I missed the notification about this issue. Do you still require an example?

[2022-05-24 02:48] lukebakken commented on #1335
Sorry, I was unsubscribed from this repository. I'll look into how clients that support refresh do it to see if it's appropriate for Pika.

[2022-05-24 02:49] lukebakken commented on #1333
Sorry, I was unsubscribed from this repository and have missed new issues from the past few months. I'm going to assume that [this comment](https://github.com/pika/pika/issues/1333#issuecomment-939363984) provided the necessary assistance. If not, let me know.

[2022-05-24 02:49] #1333 closed

[2022-05-24 02:50] lukebakken commented on #1331
`Connection reset by peer` means that RabbitMQ closed the connection.

[2022-05-24 02:50] #1331 closed

[2022-05-24 03:01] lukebakken commented on #1330
Sorry, I was unsubscribed from this repository and have missed new issues from the past few months. I am assuming this issue is resolved. If not, let me know.

[2022-05-24 03:01] #1330 closed

[2022-05-24 03:01] lukebakken commented on #1327
Sorry, I was unsubscribed from this repository and have missed new issues from the past few months. I'll check this out before the next release. Thank you!

[2022-05-24 03:03] lukebakken commented on #1326
This is a good solution. You can place the message on an "in progress" queue while you perform work. You should not adjust the heartbeat parameters.

[2022-05-24 03:03] #1326 closed

[2022-05-24 03:04] lukebakken commented on #1324
Sorry, I was unsubscribed from this repository and have missed new issues from the past few months. Thanks everyone for their input here.

[2022-05-24 03:04] #1324 closed

[2022-05-24 03:05] lukebakken commented on #1322
Sorry, I was unsubscribed from this repository and have missed new issues from last year. I will investigate this issue prior to the 1.3.0 release.

[2022-05-24 03:06] lukebakken commented on #1321
Sorry, I was unsubscribed from this repository and have missed new issues from the past year. I will investigate this before the next release, thank you!

[2022-05-24 03:07] lukebakken commented on #1319
Sorry, I was unsubscribed from this repository and have missed new issues from the past year. I will investigate this before the next release, thank you!

[2022-05-24 03:08] lukebakken commented on #1318
Sorry, I was unsubscribed from this repository and have missed new issues from the past year. If this issue still requires attention, please add a comment. Thank you.

[2022-05-24 03:08] #1318 closed

[2022-05-24 03:09] lukebakken commented on #1314
Sorry, I was unsubscribed from this repository and have missed new issues from the past year. I will investigate this before the next release, thank you!

[2022-05-24 03:09] lukebakken commented on #1296
Sorry, I was unsubscribed from this repository and have missed new issues from the past year. I will investigate this before the next release, thank you!

[2022-05-24 03:10] lukebakken commented on #1294
Sorry, I was unsubscribed from this repository and have missed new issues from the past year. I will investigate this before the next release, thank you!

[2022-05-24 03:11] lukebakken commented on #1282
I will investigate this before the next release, thank you!

[2022-05-24 03:12] lukebakken commented on #1265
Fixed by #1345

[2022-05-24 03:12] #1265 closed

[2022-05-24 03:13] lukebakken commented on #1261
The protocol does have a data type specifier that prefixes the value. Please see the fix in #1345

[2022-05-24 03:13] #1261 closed

[2022-05-25 17:26] lukebakken commented on #1350
It is because of this binding:

[code]

The `backup_queue` queue will **ONLY** have messages with `backup_queue` as the routing key delivered to it. Change `xxxxxx` to `backup_queue` and your code works.

If you want _all_ unroutable messages to end up in `backup_queue`, you should change your code.

Please see my example here. Follow the commit history and comments to see what I did:

https://git

[2022-05-25 18:08] lukebakken commented on #1342
I can't reproduce what you report. Please see a sample django application here:

https://github.com/lukebakken/pika-1342

[2022-05-25 18:08] #1342 closed

[2022-05-25 18:15] lukebakken commented on #1340
@svramusi please review #1362. Thanks! Sorry it took so long, I mistakenly turned off notifications for this repository.

[2022-05-25 18:41] #1327 closed

[2022-05-25 18:43] lukebakken opened #1363 "1.3.0 release checklist"
- [ ] Review all example code (especially in the `.rst` files) :tada:

[2022-05-25 20:27] SantjagoCorkez commented on #1240
You know what, I've pointed you on the exact changeset that changed the behavior of the library and has driven this bug to appear. That is itself already a much more of a community contribution than a common bug report case where some people just tell "something is wrong and we don't even know what exactly".

I'm OK with the idea you reject any contribution which is not accompanied with a changese

[2022-05-25 20:37] lukebakken commented on #1240
I've deleted my and other off-topic comments here. @SantjagoCorkez's point that the changes in https://github.com/pika/pika/commit/761ef5cf8e484fe8d52909e767ceef69afc82d3a may make it more difficult to distinguish between recoverarble vs non-recoverable errors is valid, and that's what I'm going to address, as well as documentation around the issue.

[2022-05-25 20:43] lukebakken commented on #1322
@vitalis89 fantastic analysis, thank you.

[2022-05-25 21:33] lukebakken commented on #1322
I've created the following repo with code I'm using to test this -

https://github.com/lukebakken/pika-1322

When I run the test application and pull the network cord on my linux server that runs RabbitMQ,
I get this output:

[code]

The code uses `time.sleep` when it really should be using the `sleep` method of `BlockingConnection`. When I change the code to use `conn.sleep` the disconnection is

[2022-05-25 21:33] #1322 closed

[2022-05-25 22:11] #1336 closed

[2022-05-25 22:17] lukebakken commented on #1321
Part of #1363

[2022-05-25 22:18] lukebakken commented on #1319
Since this issue is stale, I will assume you have found a solution. If not, please leave a comment.

[2022-05-25 22:18] #1319 closed

[2022-05-25 22:29] lukebakken commented on #1314
I have added your code here - https://github.com/lukebakken/pika-1314

However, there are two problems:
* There is no code for the `utils` package.
* I have no idea how to run the locust test the same way you did.

@MykhailoKhil I will keep this issue open until I release version 1.3.0. If you have the time, I would like to investigate this, and I even have a Windows environment to do so. Thanks.

[2022-05-28 13:06] #1343 closed

[2022-05-28 18:45] Diaislam commented on #1240
I have the same issue

[2022-06-02 08:06] PrantaChakraborty commented on #1318
hey @lukebakken Today I faced the same issue.

[2022-06-07 22:47] jesmaelnezhad commented on #1318
I had this problem, and in my case, the problem was that there is a time gap between RabbitMQ start and when it's ready to accept connections. So my problem was simply solved by waiting 30 seconds before trying to connect (I was connecting from a container that would start right after RabbitMQ's container).

[2022-06-23 23:12] #1340 closed

[2022-06-28 20:14] #1354 closed

[2022-06-28 20:43] lukebakken commented on #601
I'm pretty sure #1345 has fixed part of this issue.

[2022-06-28 20:47] lukebakken commented on #645
@gmr The [`pamqp`](https://github.com/gmr/pamqp) project appears active! I'm scheduling this for Pika 2.0

[2022-06-28 20:49] lukebakken commented on #1158
Closing because we use GH actions now. Linux builds use Ubuntu docker images, and Windows builds depend on this file to know which versions to use:

https://github.com/pika/pika/blob/main/testdata/versions.json

The above file could be replaced with some GitHub API queries. I'll look into it.

[2022-06-28 20:49] #1158 closed

[2022-06-29 14:24] lukebakken commented on #1240
Re-doing the exception hierarchy will have to wait until version 2.0

[2022-06-29 14:32] lukebakken commented on #1321
[This code](https://github.com/pika/pika/blob/main/examples/asynchronous_publisher_example.py#L315-L330) will re-start the connection because `self._stopping` is still `False`.

[2022-06-29 14:32] #1321 closed

[2022-06-29 16:07] lukebakken commented on #1294
This will be fixed by #1369

[2022-06-29 16:08] #1289 closed

[2022-06-29 16:25] lukebakken commented on #1296
https://github.com/lukebakken/pika-1296

I'm looking into this now. Better late than never!

[2022-06-29 19:27] #1294 closed

[2022-06-29 20:18] lukebakken opened #1371 "pylint"
https://pylint.pycqa.org/en/latest/user_guide/usage/run.html

Add a GHA that runs pylint, and fix all of the new warnings

[2022-06-29 20:29] KOLANICH opened #1372 "Convert the metadata into PEP 621 format"
https://github.com/abravalheri/ini2toml will help you.

[2022-06-29 21:34] Diaislam commented on #1240
if you use basic publisher consumer code, the channel will eventually get closed when waiting for messages, even if you choose whatever parameters and heartbeat. and you reconnect each time you publish an event it's still the same.
use the asynchronous code i had the consumer waiting for days for messages, when i started the consumer it immediately processed the messages. now been testing for week

[2022-06-29 23:51] lukebakken commented on #1340
Reverted by https://github.com/pika/pika/commit/4f789b90fa1b3a269b8e33d0ac42249472ffca51

Guess what, #1362 broke publishing to PyPi.

I have to use one of the license specifiers listed here:

https://pypi.org/classifiers/

@svramusi I suggest you follow up with the PyPi people, or comment here:

https://github.com/pypa/trove-classifiers/issues/17

[2022-06-30 12:49] lukebakken commented on #1240
@Diaislam without code that I can run and instructions on how to reproduce what you describe, there's nothing I can do. If you'd like to investigate, open a new issue and help me help you.

[2022-06-30 13:47] #1372 closed, assigned to lukebakken

[2022-06-30 14:30] lukebakken opened #1375 "Improve release process a bit"
Some good protips here:

https://www.seanh.cc/2022/05/21/publishing-python-packages-from-github-actions/

Automatic versioning would be nice.

[2022-06-30 15:24] lukebakken commented on #1335
Hello!

@ahmedhosman @JiahangChen1994 @Gsantomaggio - please test this release candidate which includes support for the update secret extension:

https://pypi.org/project/pika/1.3.0rc5/

[2022-06-30 15:33] Gsantomaggio commented on #1335
Just tested with `pika version: 1.3.0rc5` and the refresh token feature works as expected.

[2022-07-12 12:20] vb3328998 opened #1378 "pika迁移数据到redis"
pika怎么把数据迁移到redis，用slaveof的方式不得行

[2022-07-21 18:25] seenureddy commented on #1375
@lukebakken Add me to this issue.

[2022-07-21 19:54] lukebakken commented on #1375
Fixed by https://github.com/pika/pika/commit/fb002a08ce48476466e5b2e4b0a82094307acbc8

[2022-07-21 19:54] #1375 closed

[2022-07-26 09:28] dabbler0606 commented on #1311
I use Python 2.7 and can't upgrade to py3 for a short time. But I want to use GeventConnection. However, 1.2.0 does not support py2.7. Looking at the code, it seems that only Enum is used. Can I replace Enum with Enum3.4 to use 1.2.0 in py2.7?

[2022-07-26 16:43] michaelklishin commented on #1311
At this point 2.7 users might as well fork Pika and swap `Enum` for whatever they need. The mainline does not list 2.7 as supported. Hasn't for over a year.

[2022-08-21 10:46] mglowinski93 commented on #914
@lukebakken
What is actually impact of `basic_publishing` something to not existing `routing_key`?
I do not get any error from pika.

I do not want to define this queue, since it's an RPC consumer.
It might happen that producer closed this queue on timeout.

[2022-08-22 09:19] Zerpet opened #1385 "Update fallback SSL/TLS protocol version"
In the connection module, the method `URLParameters._set_url_ssl_options()` tries to set the secure protocol version to `ssl.PROTOCOL_TLS` and falls back to `ssl.PROTOCOL_TLSv1` if the first is not available (since it was introduced in 3.6 and this client supports 3.4+).

https://github.com/pika/pika/blob/c34c411874f049f2048aa5133ea20f87c95fa223/pika/connection.py#L905-L912

This has the following

[2022-08-22 13:10] lukebakken commented on #1385
Good find!

[2022-08-22 16:29] Zerpet commented on #1385
CodeQL found it for me :smile: https://github.com/pika/pika/security/code-scanning/2

[2022-08-24 13:09] #1385 closed

[2022-08-24 15:16] mglowinski93 commented on #914
@lukebakken

sure, i will. I simply didn't want to mess-up with similar topic in different issue.

Thank you, that is what i needed to know.

[2022-09-16 14:49] Gsantomaggio opened #1389 "Remove the NACK during the stop_consuming"
Per conversation with @michaelklishin @lukebakken

Remove the `nack` during the `channel.stop_consuming` when the channel is closing the nack is not necessary

See also the [SO question](https://stackoverflow.com/questions/73735409/rabbitmq-pika-cannot-stop-consuming-a-stream-queue-because-it-doesnt-allow-nac).

[Internal link](https://vmware.slack.com/archives/C039S4USVPG/p1663335803968539)

[2022-09-16 19:29] tango-taylor opened #1390 "SelectConnection catches all errors and hides details."
Originally from an [SO question](https://stackoverflow.com/q/73736444/17404810) but I'll report it here via @lukebakken's request.

`SelectConnection` seems to catch all errors and doesn't provide any stack trace information. This makes debugging difficult.

For instance, here's an example where it divides by 0 in the `_on_connection_open` callback.
[code]
And the output:
[code]

Notice the except

[2022-09-19 16:57] tango-taylor commented on #1389
I edited the SO question with an even simpler example to trigger the bug, I'll post it here:

**Client**
[code]

**Server**
[code]

[2022-09-19 17:44] Gsantomaggio commented on #1389
Thank you @tango-taylor for reporting.

[2022-09-30 13:15] lorenzwalthert opened #1391 "Open to funding?"
At work, we extensively use pika and benefit from it. Great job. We'd like to support the ongoing development financially, but could not figure out a way to do so. Would you consider giving your user this option, e.g. through GitHub Sponsors or Tidelift?

[2022-09-30 15:16] lukebakken commented on #1391
Hi Lorenz,

That is a very generous offer. Pika was originally written by Gavin Roy (@gmr). Over the years significant contributions have come from users like @vitaly-krugl. Currently the RabbitMQ team at VMware maintains this library. We're fortunate to be able to work on open-source software and get paid for it.

I'm going to ask for the official word on this, but if you use RabbitMQ purchasing

[2022-10-11 15:33] #1391 closed

[2022-10-11 15:33] lukebakken commented on #1391
Yep, paying for RabbitMQ support is the best way to fund Pika. Thanks!

[2022-11-02 21:29] fizix137 commented on #1389
I'm writing an app that consuming a streaming queue and posts the results to a streamlit app.  I have to hand control back to streamlit by periodically starting and stopping message consumption.  I'm still figuring out the best way to do this and along the way ran into the same problem when I call `stop_consuming`.

[2022-11-19 01:37] Montana opened #1394 "Cannot purge RabbitMQ queues with pika"
Hi all,

Producer code:

[code]
Consumer code:

[code]
I've tuned the variables `rabbit_host` and `rabbit_queue` according to my needs. The problem is `pika` always shows `0` both in the producer and performer.

[2022-11-19 21:16] michaelklishin commented on #1389
@fizix137 FYI, there is a [separate Python client for streams](https://pypi.org/project/rstream/) that does not have Pika's limitations.

[2022-11-19 21:16] michaelklishin commented on #1389
In fact, there is [more than one Python client for RabbitMQ streams](https://gitlab.com/wrobell/rbfly) :)

[2022-11-27 10:33] eneesfd opened #1397 "socket.gaierror: [Errno -5] No address associated with hostname"
Thank you for using Pika.

- IMPORTANT -----------------------------------------------------------
STOP NOW AND READ THIS BEFORE OPENING A NEW ISSUE ON GITHUB
--------------------------------------------------------------------------

Unless you are CERTAIN you have found a reproducible bug in Pika, you must
first ask your question, discuss your suspected issue, or propose your new
feature on the

[2022-11-27 10:34] eneesfd commented on #1397
Traceback (most recent call last):
  File "/app/consumer.py", line 36, in <module>
    main()
  File "/app/consumer.py", line 16, in main
    connection = pika.BlockingConnection(pika.ConnectionParameters(host="rabbitmq"))
  File "/usr/local/lib/python3.10/site-packages/pika/adapters/blocking_connection.py", line 360, in __init__
    self._impl = self._create_connection(parameters, _impl_class)